<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/common_empty.css" rel="stylesheet">
</head>
<body>
  <div class="footer">
        <div class="inner">
            <div class="sns_menu">
                <a class="facebook" href="##"><span class="blind">Facebook</span></a>
                <a class="instagram" href="##"><span class="blind">Instagram</span></a>
            </div>
            <div class="etc_menu">
                <a href="##">ABOUT US</a>
                <a href="##">FAQ</a>
                <a href="##">CONTACT</a>
            </div>
            <div class="copyright">
                <p class="txt">© 2020 FaceVisitor All rights reserved.</p>
                <a href="#">이용약관</a>
                <a href="#">개인정보 처리방침</a>
            </div>
        </div>
    </div>
</body>
</html>