<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/common.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <!-- <div class="wrap_head"> 제거 -->
        <div class="inner">
            <h1 class="logo"><a href="/"><span class="blind">MAISON TAILOR</span></a></h1>
            <div class="gnb">
                <ul class="service_menu">

                    <li><a class="link" href="##">셀프결제</a></li>
                </ul>
                <div class="my_menu">
                    <div class="wrap_search"><!-- 검색 버튼 클릭시 on 클래스 추가 -->
                        <button class="btn_search" type="button"><span class="blind">검색</span></button>
                        <div class="layer_search">
                            <input class="inp_search" placeholder="찾는 제품이 있으신가요?" type="search">
                        </div>
                    </div>
                    <div class="wrap_layer" :class="{on : visibleMenu}"><!-- MY 버튼 클릭시 on 클래스 추가 -->
                        <button class="btn_mypage" type="button"><span class="blind">MY PAGE</span></button>
                        <div class="layer_menu">
                            <ul class="menu">
                                <li><a href="##">주문내역</a></li>
                                <li><a href="##"></a></li>
                            </ul>
                            <a class="logout" href="#">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>