@charset "utf-8";

/* 주문 요청, 장바구니, 결제하기 */
.request, .cart, .pay {
    padding: 48px 0 166px
}

.tit_complete {
    overflow: hidden;
    margin-top: 30px;
    padding-top: 115px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background: url('../images/bg_complete.png') 50% 0 no-repeat
}

.tit_complete:before {
    display: block;
    margin: 9px 0 15px;
    color: #00a2e1;
    font-size: 40px;
    font-family: 'Spoqa Han Sans', sans-serif;
    line-height: 54px;
    content: "COMPLETE"
}

.txt_complete {
    padding-top: 4px;
    font-size: 16px;
    line-height: 24px;
    text-align: center
}

.section_product {
    margin: 0 auto;
    width: 732px
}

.section_product .btn_delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px
}

.section_product .btn_delete:before {
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/ico_delete.png') no-repeat;
    content: ""
}

.section_product .details {
    position: relative;
    margin-top: 16px;
    border-top: 1px solid #f6f6f6;
    padding: 22px 0 0 8px
}

.section_product .details .photo {
    float: left
}

.section_product .info {
    overflow: hidden;
    position: relative;
    padding-left: 22px;
    height: 320px
}

.section_product .cont {
    padding-bottom: 15px;
    font-weight: bold
}

.section_product .cont .txt {
    display: block;
    overflow: hidden;
    padding-right: 54px;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Spoqa Han Sans', sans-serif;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.section_product .cont .tit {
    display: block;
    overflow: hidden;
    padding-right: 54px;
    max-height: 76px;
    font-size: 28px;
    font-family: 'Spoqa Han Sans', sans-serif;
    line-height: 38px
}

.section_product .cont .price {
    display: block;
    font-size: 20px;
    line-height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.section_product .quantity {
    padding: 2px 0 15px;
    font-size: 16px;
    line-height: 24px
}

.section_product .quantity .num {
    display: inline-block;
    position: relative;
    margin-left: 16px;
    padding: 0 30px;
    height: 24px;
    vertical-align: top
}

.section_product .quantity .num input {
    display: block;
    padding-left: 10px;
    width: 32px;
    height: 22px;
    border: 0;
    border-bottom: 2px solid #d8d8d8;
    text-align: center
}

.section_product .quantity button {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px
}

.section_product .quantity .btn_down {
    left: 0;
    background: url('../images/ico_minus.png') no-repeat
}

.section_product .quantity .btn_up {
    right: 0;
    background: url('../images/ico_plus.png') no-repeat
}

.section_product .desc {
    overflow: hidden
}

.section_product .desc .txt_info {
    height: 30px;
    color: #00a2e1;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    background: #f6f6f6
}

.section_product .desc .link_origin {
    display: block;
    margin-top: 8px;
    padding: 12px;
    height: 64px;
    border: 1px solid currentColor;
    box-sizing: border-box;
    color: #00a2e1;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: center
}

.section_product .desc .link_origin:before {
    display: inline-block;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    background: url('../images/ico_link.png') no-repeat;
    vertical-align: top;
    content: ""
}

.section_product .desc .link_origin .url {
    display: block;
    font-size: 12px;
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: normal;
    line-height: 16px
}

.section_product .options {
    margin-top: 24px;
    width: 100%
}

.section_product .options:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: ""
}

.section_product .box_option {
    position: relative;
    margin-bottom: 16px;
    padding: 16px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.27)
}

.section_product .box_option:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: ""
}

.section_product .box_option:first-of-type {
    margin-top: 0
}

.section_product .box_option .tit_option {
    display: block;
    font-size: 16px;
    line-height: 24px
}

.section_product .box_option .tf_option {
    overflow: hidden;
    margin-top: 15px
}

.section_product .box_option .tf_option .inp {
    display: block;
    padding: 7px 12px 10px;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background: #f6f6f6
}

.section_product .box_option .tf_option textarea.inp {
    min-height: 112px;
    resize: vertical
}

.section_product .box_option .btn_delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px
}

.section_product .box_option .btn_delete:before {
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/ico_delete.png') no-repeat;
    content: ""
}

.section_product .box_add {
    padding: 21px 0 18px;
    height: 144px;
    box-sizing: border-box;
    background: #f6f6f6;
    text-align: center
}

.section_product .box_add .btn_add {
    padding: 15px;
    font-size: 16px;
    line-height: 24px
}

.section_product .box_add .btn_add:before {
    display: block;
    margin: 0 auto 15px;
    width: 36px;
    height: 36px;
    background: url('../images/ico_add.png') no-repeat;
    content: ""
}

.section_product.complete {
    margin-top: 40px;
    background: #f6f6f6
}

.section_product.complete .details {
    margin: 0 14px;
    padding: 26px 30px;
    border-top-color: #e0e0e0
}

.section_product.complete .details:first-child {
    border-top: 0
}

.section_product.complete .info {
    height: 118px
}

.section_product.complete .cont .tit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.section_product.complete .options {
    margin-top: 8px
}

.section_product.complete .options li {
    padding-top: 8px;
    font-size: 16px;
    line-height: 24px
}

.section_product.complete .options .tit_option {
    display: inline-block;
    width: 138px;
    vertical-align: top
}

.product_btn {
    overflow: hidden;
    margin: 16px auto 0;
    width: 732px
}

.product_btn .btn_comm {
    float: left;
    width: 360px
}

.product_btn .btn_comm:first-of-type {
    margin-right: 12px
}

.product_btn .btn_comm:first-child:last-child {
    margin-right: 0;
    width: 100%
}


