/*@charset "utf-8";*/
/*@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);*/
/*@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600,700);*/

/*!* reset *!*/
/*body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {*/
/*    margin: 0;*/
/*    padding: 0*/
/*}*/

/*fieldset, img {*/
/*    border: 0 none*/
/*}*/

/*dl, ul, ol, menu, li {*/
/*    list-style: none*/
/*}*/

/*blockquote, q {*/
/*    quotes: none*/
/*}*/

/*blockquote:before, blockquote:after, q:before, q:after {*/
/*    content: '';*/
/*    content: none*/
/*}*/

/*input, select, textarea, button {*/
/*    vertical-align: middle*/
/*}*/

/*button {*/
/*    border: 0 none;*/
/*    background-color: transparent;*/
/*    cursor: pointer*/
/*}*/

/*body {*/
/*    background: #fff*/
/*}*/

/*body, th, td, input, select, textarea, button {*/
/*    font-size: 14px;*/
/*    line-height: 1.5;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    color: #4a4a4a*/
/*}*/

/*a {*/
/*    color: #4a4a4a;*/
/*    text-decoration: none*/
/*}*/

/*!**/
/*a:active, a:hover {text-decoration:underline} *!*/
/*address, caption, cite, code, dfn, em, var {*/
/*    font-style: normal;*/
/*    font-weight: normal*/
/*}*/

/*img {*/
/*    vertical-align: top*/
/*}*/


/*!* font-family:'Noto Sans KR', "Malgun Gothic", dotum, gulim, sans-serif;*/
/*font-family: 'Noto Sans KR', 'Noto Sans KR JP', 'Sans-serif';!**/
/*!* 레이아웃 *!*/
/*.wrapper {*/
/*    min-width: 1120px*/
/*}*/

/*.header {*/
/*    width: 100%*/
/*}*/

/*.header .wrap_head {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    height: 64px;*/
/*    box-sizing: border-box;*/
/*    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5)*/
/*}*/

/*.header .logo {*/
/*    display: inline-block;*/
/*    vertical-align: top*/
/*}*/

/*.header .logo a {*/
/*    display: block;*/
/*    padding: 13px 0*/
/*}*/

/*.header .logo a:before {*/
/*    display: block;*/
/*    width: 230px;*/
/*    height: 38px;*/
/*    background: url(../images/logo_header.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.header .gnb {*/
/*    float: right*/
/*}*/

/*.header .service_menu {*/
/*    display: inline-block;*/
/*    vertical-align: top*/
/*}*/

/*.header .service_menu:after {*/
/*    display: table;*/
/*    table-layout: fixed;*/
/*    clear: both;*/
/*    content: ""*/
/*}*/

/*.header .service_menu li {*/
/*    float: left*/
/*}*/

/*.header .service_menu .link {*/
/*    display: block;*/
/*    padding: 20px 14px;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.header .service_menu .link:hover {*/
/*    text-decoration: underline*/
/*}*/

/*.header .my_menu {*/
/*    display: inline-block;*/
/*    vertical-align: top*/
/*}*/

/*.header .my_menu:after {*/
/*    display: table;*/
/*    table-layout: fixed;*/
/*    clear: both;*/
/*    content: ""*/
/*}*/

/*.header .my_menu .btn_search {*/
/*    float: left;*/
/*    padding: 20px 14px*/
/*}*/

/*.header .my_menu .btn_search:before {*/
/*    display: block;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_search.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.header .wrap_search {*/
/*    float: left*/
/*}*/

/*.header .wrap_search.on .btn_search {*/
/*    position: relative;*/
/*    z-index: 10*/
/*}*/

/*.header .wrap_search.on .btn_search:before {*/
/*    background: url(../images/ico_x.png) no-repeat*/
/*}*/

/*.header .wrap_search.on .layer_search {*/
/*    display: block;*/
/*    z-index: 1*/
/*}*/

/*.header .layer_search {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    padding: 0 99px 0 24px;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    background: #fff*/
/*}*/

/*.header .layer_search .inp_search {*/
/*    display: block;*/
/*    padding: 19px 18px 21px;*/
/*    width: 100%;*/
/*    height: 64px;*/
/*    border: 0;*/
/*    box-sizing: border-box;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.header .layer_search:before {*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    left: 0;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_search.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.header .my_menu .btn_mypage {*/
/*    display: block;*/
/*    padding: 20px 14px*/
/*}*/

/*.header .my_menu .btn_mypage:before {*/
/*    display: block;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_account.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.header .wrap_layer {*/
/*    float: left*/
/*}*/

/*.header .wrap_layer.on {*/
/*    position: relative;*/
/*    z-index: 10*/
/*}*/

/*.header .wrap_layer.on .layer_menu {*/
/*    display: block*/
/*}*/

/*.header .layer_menu {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    right: 4px;*/
/*    width: 182px;*/
/*    padding-bottom: 6px;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    background: #fff*/
/*}*/

/*.header .layer_menu:before {*/
/*    position: absolute;*/
/*    top: -15px;*/
/*    right: 0;*/
/*    width: 182px;*/
/*    height: 15px;*/
/*    background: url(../images/bg_layer_menu.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.header .layer_menu .menu a {*/
/*    display: block;*/
/*    padding: 7px 20px*/
/*}*/

/*.header .layer_menu .menu a:hover {*/
/*    text-decoration: underline*/
/*}*/

/*.header .layer_menu .logout {*/
/*    display: block;*/
/*    margin: 0 15px;*/
/*    padding: 7px 5px;*/
/*    border-top: 1px solid #f6f6f6;*/
/*    color: #9b9b9b*/
/*}*/

/*.header .wrap_category {*/
/*    overflow: hidden;*/
/*    min-height: 64px;*/
/*    background: #f6f6f6*/
/*}*/

/*.header .category {*/
/*    padding-right: 54px*/
/*}*/

/*.header .category:after {*/
/*    display: table;*/
/*    clear: both;*/
/*    content: "";*/
/*    table-layout: fixed*/
/*}*/

/*.header .category li {*/
/*    float: left;*/
/*    margin-right: 18px*/
/*}*/

/*.header .category .link_cate {*/
/*    display: block;*/
/*    height: 64px;*/
/*    padding: 16px 0 19px;*/
/*    border-bottom: 4px solid #f6f6f6;*/
/*    box-sizing: border-box;*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*    line-height: 29px;*/
/*    text-decoration: none*/
/*}*/

/*.header .category .link_cate:hover,*/
/*.header .category .on .link_cate {*/
/*    border-color: currentColor;*/
/*    color: #00a2e1*/
/*}*/

/*.header .category .link_cate .en {*/
/*    color: #9b9b9b;*/
/*    font-weight: 200;*/
/*    font-size: 16px;*/
/*    font-family: 'Noto Sans KR', sans-serif*/
/*}*/

/*.header .category .link_cate:hover .en,*/
/*.header .category .on .en {*/
/*    color: #00a2e1*/
/*}*/

/*.header .btn_more {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    padding: 21px 15px 19px*/
/*}*/

/*.header .btn_more:before {*/
/*    display: block;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_more.png);*/
/*    content: ""*/
/*}*/

/*.aside {*/
/*    float: left;*/
/*    width: 262px*/
/*}*/

/*.content {*/
/*    float: left;*/
/*    width: 846px;*/
/*    padding-left: 20px;*/
/*    box-sizing: border-box*/
/*}*/

/*.footer {*/
/*    padding-top: 44px;*/
/*    height: 224px;*/
/*    box-sizing: border-box;*/
/*    background: #1b1e21;*/
/*    text-align: center*/
/*}*/

/*.footer .sns_menu {*/
/*    overflow: hidden*/
/*}*/

/*.footer .sns_menu a {*/
/*    display: inline-block;*/
/*    padding: 10px 8px;*/
/*    vertical-align: top*/
/*}*/

/*.footer .sns_menu a:before {*/
/*    display: block;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_sns.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.footer .sns_menu .facebook:before {*/
/*    background-position: 0 0*/
/*}*/

/*.footer .sns_menu .instagram:before {*/
/*    background-position: -24px 0*/
/*}*/

/*.footer .etc_menu {*/
/*    overflow: hidden;*/
/*    padding: 10px 0 13px;*/
/*    font-family: 'Noto Sans KR', sans-serif*/
/*}*/

/*.footer .etc_menu a {*/
/*    display: inline-block;*/
/*    padding: 5px 9px;*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    line-height: 22px;*/
/*    vertical-align: top*/
/*}*/

/*.footer .etc_menu a:hover {*/
/*    text-decoration: underline*/
/*}*/

/*.footer .copyright {*/
/*    color: #9b9b9b;*/
/*    font-size: 12px*/
/*}*/

/*.footer .copyright .txt {*/
/*    display: inline-block;*/
/*    padding-right: 5px;*/
/*    vertical-align: top*/
/*}*/

/*.footer .copyright a {*/
/*    padding: 0 10px;*/
/*    color: #9b9b9b*/
/*}*/

/*!* 공통 *!*/
/*.blind {*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    width: 1px;*/
/*    height: 1px;*/
/*    clip: rect(1px, 1px, 1px, 1px)*/
/*}*/

/*.inner {*/
/*    position: relative;*/
/*    margin: 0 auto;*/
/*    padding: 0 8px;*/
/*    width: 1124px;*/
/*    box-sizing: border-box*/
/*}*/

/*.inner:after {*/
/*    display: table;*/
/*    table-layout: fixed;*/
/*    clear: both;*/
/*    content: ""*/
/*}*/

/*!* 타이틀 *!*/
/*.wrap_title {*/
/*    position: relative;*/
/*    background: #f6f6f6*/
/*}*/

/*.wrap_title .bg {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-repeat: no-repeat;*/
/*    background-position: 50% 50%;*/
/*    background-size: cover;*/
/*    content: ""*/
/*}*/

/*!* .wrap_title .bg:before {position:absolute;top:0;left:0;right:0;bottom:0;background:#0f2438;opacity:.8;content:""} *!*/
/*.wrap_title .title {*/
/*    display: table;*/
/*    width: 100%;*/
/*    height: 320px;*/
/*    text-align: center*/
/*}*/

/*.wrap_title .tit_category {*/
/*    display: table-cell;*/
/*    padding: 0 200px;*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    font-size: 40px;*/
/*    line-height: 48px;*/
/*    vertical-align: middle*/
/*}*/

/*.wrap_title .tit_category .small {*/
/*    display: block;*/
/*    font-weight: 200;*/
/*    font-size: 12px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 18px*/
/*}*/

/*.wrap_title .tit_category .en {*/
/*    display: block;*/
/*    font-size: 20px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 27px*/
/*}*/

/*.wrap_title .tit_category .txt_result {*/
/*    display: block;*/
/*    color: #4a4a4a;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.wrap_title .tit_category .keyword {*/
/*    color: #00a2e1;*/
/*    font-family: AppleSDGothicNeo, "Malgun Gothic", dotum, sans-serif*/
/*}*/

/*.wrap_title .btn {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    margin-top: -28px;*/
/*    min-width: 110px;*/
/*    color: #fff;*/
/*    font-size: 24px;*/
/*    line-height: 36px;*/
/*    opacity: .7*/
/*}*/

/*.wrap_title .btn:hover {*/
/*    opacity: 1*/
/*}*/

/*.wrap_title .btn:before {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    margin-top: -12px;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_arrow.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.wrap_title .btn .en {*/
/*    display: block;*/
/*    font-weight: 200;*/
/*    font-size: 16px;*/
/*    line-height: 22px*/
/*}*/

/*.wrap_title .btn_prev {*/
/*    left: 80px;*/
/*    padding-left: 12px*/
/*}*/

/*.wrap_title .btn_prev:before {*/
/*    left: 0;*/
/*    background-position: 0 0*/
/*}*/

/*.wrap_title .btn_next {*/
/*    right: 80px;*/
/*    padding-right: 12px*/
/*}*/

/*.wrap_title .btn_next:before {*/
/*    right: 0;*/
/*    background-position: 24px 0*/
/*}*/

/*.section_title {*/
/*    margin: 0 auto;*/
/*    padding: 0 8px;*/
/*    font-size: 36px;*/
/*    line-height: 54px*/
/*}*/

/*.section_title.center {*/
/*    text-align: center*/
/*}*/

/*.section_list .sorting {*/
/*    margin-top: -48px*/
/*}*/

/*.sorting {*/
/*    margin-bottom: 48px;*/
/*    padding: 18px 0;*/
/*    text-align: right;*/
/*    background: #f6f6f6;*/
/*}*/

/*.sorting .btn_sort {*/
/*    display: inline-block;*/
/*    margin: 0 8px 0 6px;*/
/*    padding: 10px 0;*/
/*    width: 120px;*/
/*    height: 44px;*/
/*    border: 1px solid #e0e0e0;*/
/*    box-sizing: border-box;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    background: #fff;*/
/*    text-align: center;*/
/*    vertical-align: top*/
/*}*/

/*.sorting .btn_sort.on {*/
/*    color: #fff;*/
/*    border-color: #00a2e1;*/
/*    background: #00a2e1*/
/*}*/

/*!* 페이징 *!*/
/*.paging {*/
/*    padding: 45px 0 70px;*/
/*    text-align: center*/
/*}*/

/*.paging .link_page {*/
/*    display: inline-block;*/
/*    margin: 0 8px;*/
/*    padding: 6px 0;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border: 1px solid #e0e0e0;*/
/*    box-sizing: border-box;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    line-height: 27px;*/
/*    vertical-align: top;*/
/*    background: #fff*/
/*}*/

/*.paging .link_page.on {*/
/*    color: #fff;*/
/*    border-color: #00a2e1;*/
/*    background: #00a2e1*/
/*}*/

/*.paging .elipsis {*/
/*    display: inline-block;*/
/*    width: 28px;*/
/*    height: 4px;*/
/*    margin: 16px 10px 0 26px;*/
/*    vertical-align: top;*/
/*    background: url(../images/ico_elipsis.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.paging button:before {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    width: 17px;*/
/*    height: 16px;*/
/*    background: url(../images/ico_paging.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.paging .btn_prev:before {*/
/*    background-position: 0 0*/
/*}*/

/*.paging .btn_next:before {*/
/*    background-position: -17px 0*/
/*}*/

/*!* 메인 *!*/
/*.visual {*/
/*    position: relative;*/
/*    height: 416px;*/
/*    box-sizing: border-box;*/
/*    background: url(../images/main_banner.png);*/
/*    background-repeat: no-repeat;*/
/*    background-position: 50% 50%;*/
/*    background-size: cover*/
/*}*/

/*!*.visual:before {position:absolute;top:0;left:0;right:0;bottom:0;background:#0f2438;opacity:.8;content:""} *!*/
/*.visual .desc_info {*/
/*    overflow: hidden;*/
/*    padding-top: 117px;*/
/*    width: 600px;*/
/*    height: 228px;*/
/*    color: #fff*/
/*}*/

/*.visual .desc_info .tit_desc {*/
/*    font-weight: 600;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 40px;*/
/*    line-height: 54px;*/
/*    letter-spacing: 1px*/
/*}*/

/*.visual .desc_info .tit_desc > span {*/
/*    display: block;*/
/*    font-weight: 200;*/
/*    font-size: 20px;*/
/*    line-height: 27px*/
/*}*/

/*.visual .desc_info .txt_desc {*/
/*    padding-top: 20px;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.visual .gallery_main {*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    top: 60px;*/
/*    right: 120px;*/
/*    width: 400px;*/
/*    height: 296px*/
/*}*/

/*.visual .gallery_main .swiper-slide {*/
/*    width: 400px;*/
/*    height: 296px*/
/*}*/

/*.visual .gallery_thumbs {*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    top: 100px;*/
/*    right: 0;*/
/*    width: 48px;*/
/*    height: 256px*/
/*}*/

/*.visual .gallery_thumbs .swiper-slide {*/
/*    width: 48px;*/
/*    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .72)*/
/*}*/

/*.visual .gallery_thumbs .swiper-slide:before {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*    width: 48px;*/
/*    height: 48px;*/
/*    background: #fff;*/
/*    content: ""*/
/*}*/

/*.visual .gallery_thumbs .swiper-slide img {*/
/*    opacity: .3*/
/*}*/

/*.visual .gallery_thumbs .swiper-slide-thumb-active img {*/
/*    opacity: 1*/
/*}*/

/*.main .section_title {*/
/*    width: 1104px*/
/*}*/


/*.section_pick {*/
/*    margin-bottom: 25px;*/
/*    padding: 22px 8px;*/
/*    background: #f6f6f6*/
/*}*/

/*.section_pick .tit {*/
/*    display: block;*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.section_pick .tit .emph {*/
/*    color: #00a2e1*/
/*}*/

/*.section_pick .tags {*/
/*    overflow: hidden;*/
/*    padding: 10px 112px 0 0;*/
/*    max-height: 76px*/
/*}*/

/*.section_pick .tags .link_tag {*/
/*    display: inline-block;*/
/*    margin: 4px 4px 0 0;*/
/*    padding: 3px 13px 5px;*/
/*    border-radius: 4px;*/
/*    color: #fff;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    vertical-align: top;*/
/*    background: #00a2e1*/
/*}*/

/*.section_pick .link_detail {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 8px;*/
/*    padding: 5px;*/
/*    width: 112px;*/
/*    height: 32px;*/
/*    border: 1px solid #979797;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*    color: #9b9b9b;*/
/*    font-weight: bold;*/
/*    font-size: 14px;*/
/*    line-height: 22px;*/
/*    text-align: center*/
/*}*/

/*.tit_comm {*/
/*    margin-bottom: 20px;*/
/*    padding-left: 18px;*/
/*    border-left: 4px solid #e0e0e0;*/
/*    font-size: 24px;*/
/*    line-height: 36px*/
/*}*/

/*.tit_comm .small {*/
/*    display: block;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 22px;*/
/*    font-weight: normal*/
/*}*/

/*.tit_comm .txt {*/
/*    display: block;*/
/*    padding-top: 4px;*/
/*    color: #9b9b9b;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    font-weight: normal*/
/*}*/

/*.tit_comm.noline {*/
/*    padding-left: 5px;*/
/*    border: 0*/
/*}*/

/*.btn_like {*/
/*    z-index: 1;*/
/*    padding: 14px*/
/*}*/

/*.btn_like:before {*/
/*    display: block;*/
/*    width: 29px;*/
/*    height: 28px;*/
/*    background: url(../images/ico_favor.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.btn_like.on:before {*/
/*    background-position: -28px 0*/
/*}*/

/*.btn_share {*/
/*    z-index: 1;*/
/*    padding: 14px*/
/*}*/

/*.btn_share:before {*/
/*    display: block;*/
/*    width: 36px;*/
/*    height: 36px;*/
/*    background: url(../images/ico_share.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.btn_comm {*/
/*    display: inline-block;*/
/*    height: 52px;*/
/*    border-radius: 5px;*/
/*    color: #4a4a4a;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    line-height: 52px;*/
/*    vertical-align: top;*/
/*    background: #e0e0e0;*/
/*    text-align: center*/
/*}*/

/*.btn_comm.primary {*/
/*    color: #fff;*/
/*    background: #00a2e1*/
/*}*/

/*.btn_comm.dark {*/
/*    color: #fff;*/
/*    background: #4a4a4a*/
/*}*/

/*.btn_comm.orange {*/
/*    color: #fff;*/
/*    background: #f9a11b*/
/*}*/

/*.section_list {*/
/*    position: relative;*/
/*    padding: 48px 0 40px*/
/*}*/

/*.section_list.history {*/
/*    padding-bottom: 122px*/
/*}*/

/*.section_list .swiper-container {*/
/*    margin: 0 -8px*/
/*}*/

/*.section_list .list_comm {*/
/*    padding: 2px 0 6px*/
/*}*/

/*.section_list .list_comm:after {*/
/*    display: table;*/
/*    clear: both;*/
/*    content: "";*/
/*    table-layout: fixed*/
/*}*/

/*.section_list .list_comm li {*/
/*    position: relative;*/
/*    float: left;*/
/*    margin-bottom: 20px;*/
/*    width: 275px*/
/*}*/

/*.section_list .list_comm .link_box {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    width: 262px;*/
/*    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .18)*/
/*}*/

/*.section_list .list_comm .thumb {*/
/*    display: block;*/
/*    height: 238px*/
/*}*/

/*.section_list .list_comm .cont {*/
/*    display: block;*/
/*    padding: 8px 14px;*/
/*    height: 84px;*/
/*    box-sizing: border-box;*/
/*    font-size: 16px;*/
/*    line-height: 20px;*/
/*    background: #fff*/
/*}*/

/*.section_list .list_comm .cont .tit {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 24px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_list .list_comm .cont .txt {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 12px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_list .list_comm .cont .price {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_list .list_comm .btn_like {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 9px*/
/*}*/

/*.section_list .btn_slide {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    z-index: 1;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    background: url(../images/btn_slide.png) no-repeat*/
/*}*/

/*.section_list .btn_slide.swiper-button-disabled {*/
/*    display: none !important*/
/*}*/

/*.section_list .btn_slide.btn_prev {*/
/*    left: -15px;*/
/*    background-position: 0 0*/
/*}*/

/*.section_list .btn_slide.btn_next {*/
/*    right: -15px;*/
/*    background-position: -60px 0*/
/*}*/

/*.section_list .link_more {*/
/*    position: absolute;*/
/*    top: 29px;*/
/*    right: 8px;*/
/*    color: #00a2e1;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*    line-height: 29px*/
/*}*/

/*.section_brand {*/
/*    padding: 48px 0 64px;*/
/*    width: 100%;*/
/*    background: #f6f6f6;*/
/*    text-align: center*/
/*}*/

/*.section_brand .tit_brand {*/
/*    font-size: 28px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 38px*/
/*}*/

/*.section_brand .tit_brand .txt {*/
/*    display: block;*/
/*    padding-top: 2px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.section_brand .list_brand {*/
/*    display: inline-block;*/
/*    padding-top: 48px;*/
/*    margin: 0 -4px;*/
/*    vertical-align: top*/
/*}*/

/*.section_brand .list_brand li {*/
/*    float: left;*/
/*    padding: 0 22px*/
/*}*/

/*.section_brand .list_brand .link_brand {*/
/*    display: block;*/
/*    width: 140px;*/
/*    text-decoration: none*/
/*}*/

/*.section_brand .list_brand .link_brand:hover .thumb {*/
/*    border-color: #00a2e1*/
/*}*/

/*.section_brand .list_brand .thumb {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    border: 4px solid #fff;*/
/*    width: 140px;*/
/*    height: 140px;*/
/*    border-radius: 50%;*/
/*    box-sizing: border-box;*/
/*    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .27)*/
/*}*/

/*.section_brand .list_brand .thumb:before {*/
/*    position: absolute;*/
/*    top: -4px;*/
/*    left: -4px;*/
/*    width: 140px;*/
/*    height: 140px;*/
/*    background: rgba(0, 0, 0, .3);*/
/*    content: ""*/
/*}*/

/*.section_brand .list_brand .thumb .txt {*/
/*    position: absolute;*/
/*    top: -4px;*/
/*    left: -4px;*/
/*    width: 140px;*/
/*    height: 140px;*/
/*    color: #fff;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*    line-height: 140px*/
/*}*/

/*.section_brand .list_brand .cont {*/
/*    display: block;*/
/*    padding-top: 20px;*/
/*    font-family: 'Noto Sans KR', sans-serif*/
/*}*/

/*.section_brand .list_brand .cont .tit {*/
/*    display: block;*/
/*    font-size: 16px;*/
/*    line-height: 22px*/
/*}*/

/*.section_brand .list_brand .cont .txt {*/
/*    display: block;*/
/*    padding-top: 10px;*/
/*    font-size: 12px;*/
/*    line-height: 16px*/
/*}*/

/*.section_news {*/
/*    background: #e0e0e0*/
/*}*/

/*.section_news .wrap_news {*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    background: url(https://www.saraminimage.co.kr/sri/company/information/temp/@bg_top_sample.png);*/
/*    background-repeat: no-repeat;*/
/*    background-position: 50% 50%;*/
/*    background-size: cover*/
/*}*/

/*.section_news .wrap_news:before {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(27, 30, 33, 0.7);*/
/*    content: ""*/
/*}*/

/*.section_news .wrap_news .inner {*/
/*    padding: 124px 0 63px;*/
/*    height: 368px;*/
/*    box-sizing: border-box*/
/*}*/

/*.section_news .wrap_news .link_news {*/
/*    float: left;*/
/*    padding: 0 30px 0 25px;*/
/*    width: 560px;*/
/*    box-sizing: border-box;*/
/*    color: #fff*/
/*}*/

/*.section_news .wrap_news .category {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    height: 27px;*/
/*    font-size: 20px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 27px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_news .wrap_news .tit {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding-top: 4px;*/
/*    max-height: 76px;*/
/*    font-size: 28px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 38px*/
/*}*/

/*.section_news .wrap_news .txt {*/
/*    overflow: hidden;*/
/*    height: 112px;*/
/*    font-size: 16px*/
/*}*/

/*.section_news .list_news {*/
/*    padding: 32px 0 34px*/
/*}*/

/*.section_news .list_news li {*/
/*    position: relative;*/
/*    float: left;*/
/*    margin-left: 20px;*/
/*    width: 356px;*/
/*    height: 160px;*/
/*    box-sizing: border-box*/
/*}*/

/*.section_news .list_news li:first-child {*/
/*    margin-left: 0*/
/*}*/

/*.section_news .list_news .link_news {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    padding: 63px 16px 0 16px;*/
/*    width: 356px;*/
/*    height: 160px;*/
/*    box-sizing: border-box;*/
/*    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .5);*/
/*    color: #fff;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    text-decoration: none;*/
/*    background: rgba(0, 0, 0, .5)*/
/*}*/

/*.section_news .list_news .category {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    height: 22px;*/
/*    font-weight: 200;*/
/*    font-size: 16px;*/
/*    line-height: 22px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_news .list_news .tit {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding-top: 5px;*/
/*    max-height: 54px;*/
/*    font-size: 20px;*/
/*    line-height: 27px*/
/*}*/

/*!* store *!*/
/*.section_rank {*/
/*    padding: 38px 0 66px;*/
/*    background: #f6f6f6*/
/*}*/

/*.section_rank .list_rank {*/
/*    margin: 0 -8px;*/
/*    counter-reset: rank*/
/*}*/

/*.section_rank .list_rank:after {*/
/*    display: table;*/
/*    clear: both;*/
/*    content: "";*/
/*    table-layout: fixed*/
/*}*/

/*.section_rank .list_rank li {*/
/*    float: left;*/
/*    width: 25%*/
/*}*/

/*.section_rank .list_rank .link_box {*/
/*    display: block;*/
/*    position: relative;*/
/*    margin: 0 auto;*/
/*    width: 262px;*/
/*    height: 366px*/
/*}*/

/*.section_rank .list_rank .link_box:before {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    color: #fff;*/
/*    font-weight: 200;*/
/*    font-style: italic;*/
/*    font-size: 24px;*/
/*    line-height: 60px;*/
/*    text-align: center;*/
/*    background: rgba(0, 162, 225, 0.8);*/
/*    counter-increment: rank;*/
/*    content: counter(rank)*/
/*}*/

/*.section_rank .list_rank .thumb {*/
/*    display: block;*/
/*    height: 238px*/
/*}*/

/*.section_rank .list_rank .cont {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    padding: 14px;*/
/*    width: 100%;*/
/*    height: 96px;*/
/*    box-sizing: border-box;*/
/*    color: #fff;*/
/*    font-size: 12px;*/
/*    line-height: 17px*/
/*}*/

/*.section_rank .list_rank .cont .tit {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-size: 16px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 24px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_rank .list_rank .cont .txt {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_rank .list_rank .cont .price {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding-top: 4px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_category {*/
/*    padding: 52px 0 18px*/
/*}*/

/*.section_category .list_category {*/
/*    margin: 0 -8px*/
/*}*/

/*.section_category .list_category:after {*/
/*    display: table;*/
/*    clear: both;*/
/*    content: "";*/
/*    table-layout: fixed*/
/*}*/

/*.section_category .list_category li {*/
/*    float: left;*/
/*    margin-bottom: 16px;*/
/*    width: 25%*/
/*}*/

/*.section_category .list_category .link_box {*/
/*    display: block;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    margin: 0 auto;*/
/*    padding: 18px 22px 19px;*/
/*    width: 262px;*/
/*    height: 64px;*/
/*    box-sizing: border-box;*/
/*    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.22);*/
/*    font-size: 18px;*/
/*    line-height: 27px*/
/*}*/

/*.section_category .list_category .link_box:hover,*/
/*.section_category .list_category .on .link_box {*/
/*    color: #fff;*/
/*    background: #00a2e1*/
/*}*/

/*.section_category .icon_type li {*/
/*    width: 16.66%*/
/*}*/

/*.section_category .icon_type .link_box {*/
/*    width: 168px;*/
/*    height: 168px;*/
/*    text-align: center*/
/*}*/

/*.section_category .icon_type .link_box > img {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 0*/
/*}*/

/*!* 상품 상세 *!*/
/*.detail_view {*/
/*    background: #f6f6f6*/
/*}*/

/*.section_detail {*/
/*    background: #fff*/
/*}*/

/*.section_detail .inner {*/
/*    padding: 96px 0 52px*/
/*}*/

/*.section_detail .photo {*/
/*    position: relative;*/
/*    float: left;*/
/*    width: 638px;*/
/*}*/

/*.section_detail .photo .btns {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    z-index: 1;*/
/*    font-size: 0*/
/*}*/

/*.section_detail .photo button {*/
/*    display: inline-block;*/
/*    padding: 12px 10px 10px;*/
/*    width: 88px;*/
/*    height: 88px;*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    line-height: 26px;*/
/*    vertical-align: top;*/
/*    background: rgba(0, 0, 0, .2)*/
/*}*/

/*.section_detail .photo button:before {*/
/*    margin: 0 auto*/
/*}*/

/*.section_detail .photo .btn_like:before {*/
/*    width: 36px;*/
/*    height: 36px;*/
/*    background-image: url(../images/ico_favor2.png)*/
/*}*/

/*.section_detail .photo .btn_like.on:before {*/
/*    background-position: 0 0*/
/*}*/

/*.section_detail .product_photo {*/
/*    overflow: hidden;*/
/*    height: 580px*/
/*}*/

/*.section_detail .product_photo .swiper-slide {*/
/*    height: 580px*/
/*}*/

/*.section_detail .product_thumbs {*/
/*    overflow: hidden;*/
/*    margin: 16px 0 0;*/
/*    width: 544px;*/
/*    height: 120px*/
/*}*/

/*.section_detail .product_thumbs .swiper-slide {*/
/*    width: 120px*/
/*}*/

/*.section_detail .info {*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    padding: 0 0 60px 20px;*/
/*    height: 580px;*/
/*    box-sizing: border-box*/
/*}*/

/*.section_detail .cont {*/
/*    padding-bottom: 20px;*/
/*    font-weight: bold*/
/*}*/

/*.section_detail .cont .txt {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-size: 20px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 27px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_detail .cont .tit {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    max-height: 162px;*/
/*    font-size: 40px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 54px*/
/*}*/

/*.section_detail .cont .price {*/
/*    display: block;*/
/*    font-size: 28px;*/
/*    line-height: 38px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_detail .desc {*/
/*    overflow: hidden;*/
/*    height: 271px*/
/*}*/

/*.section_detail .desc .txt_info {*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.section_detail .desc .txt_desc {*/
/*    padding-top: 16px;*/
/*    font-size: 16px;*/
/*    line-height: 22px;*/
/*    word-break: break-all*/
/*}*/

/*.section_detail .desc .link_origin {*/
/*    display: block;*/
/*    margin-top: 8px;*/
/*    padding: 12px;*/
/*    height: 64px;*/
/*    border: 1px solid currentColor;*/
/*    box-sizing: border-box;*/
/*    color: #00a2e1;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    line-height: 22px;*/
/*    text-align: center*/
/*}*/

/*.section_detail .desc .link_origin:before {*/
/*    display: inline-block;*/
/*    margin-right: 4px;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_link.png) no-repeat;*/
/*    vertical-align: top;*/
/*    content: ""*/
/*}*/

/*.section_detail .desc .link_origin .url {*/
/*    display: block;*/
/*    font-size: 12px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-weight: normal;*/
/*    line-height: 16px*/
/*}*/

/*.section_detail .desc .wrap_btn {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 20px*/
/*}*/

/*.section_detail .desc .wrap_btn .btn_comm {*/
/*    float: left;*/
/*    width: 220px*/
/*}*/

/*.section_detail .desc .wrap_btn .btn_comm:first-of-type {*/
/*    margin-right: 10px*/
/*}*/

/*.section_detail .btn_back {*/
/*    position: absolute;*/
/*    top: 25px;*/
/*    left: 0;*/
/*    width: 140px;*/
/*    height: 56px;*/
/*    color: #9b9b9b;*/
/*    font-size: 16px;*/
/*    line-height: 56px;*/
/*    text-align: center;*/
/*    background: #f6f6f6*/
/*}*/

/*.section_detail .btn_back:before {*/
/*    display: inline-block;*/
/*    margin: 17px 8px 0 0;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    vertical-align: top;*/
/*    background: url(../images/ico_back.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.section_help .tbl_help {*/
/*    table-layout: fixed;*/
/*    margin-top: 22px;*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    font-size: 16px;*/
/*    background: #fff*/
/*}*/

/*.section_help .tbl_help th {*/
/*    padding: 12px 0;*/
/*    font-weight: normal*/
/*}*/

/*.section_help .tbl_help td {*/
/*    border-top: 1px solid #f6f6f6;*/
/*    text-align: center*/
/*}*/

/*.section_help .tbl_help .summary {*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    padding: 18px 0;*/
/*    font-size: 0*/
/*}*/

/*.section_help .tbl_help .summary > span,*/
/*.section_help .tbl_help .summary > strong {*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    font-size: 16px*/
/*}*/

/*.section_help .tbl_help .summary .number {*/
/*    width: 74px*/
/*}*/

/*.section_help .tbl_help .summary .status {*/
/*    width: 208px*/
/*}*/

/*.section_help .tbl_help .summary .status.answer {*/
/*    color: #00a2e1;*/
/*    font-weight: bold*/
/*}*/

/*.section_help .tbl_help .summary .tit {*/
/*    overflow: hidden;*/
/*    padding: 0 20px;*/
/*    width: 450px;*/
/*    box-sizing: border-box;*/
/*    text-align: left;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_help .tbl_help .summary .tit.lock:before {*/
/*    display: inline-block;*/
/*    margin-right: 10px;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    vertical-align: top;*/
/*    background: url(../images/ico_lock.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.section_help .tbl_help .summary .name {*/
/*    overflow: hidden;*/
/*    width: 208px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_help .tbl_help .summary .date {*/
/*    width: 156px*/
/*}*/

/*.section_help .tbl_help .summary .btn_open {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%*/
/*}*/

/*.section_help .tbl_help .text {*/
/*    display: none;*/
/*    padding: 0 22px;*/
/*    border-top: 1px solid #f6f6f6;*/
/*    text-align: left*/
/*}*/

/*.section_help .tbl_help .text .question {*/
/*    padding: 16px 0*/
/*}*/

/*.section_help .tbl_help .text .answer {*/
/*    padding-bottom: 16px*/
/*}*/

/*.section_help .tbl_help .text .answer:before {*/
/*    display: inline-block;*/
/*    padding-right: 14px;*/
/*    vertical-align: top;*/
/*    font-weight: bold;*/
/*    content: "ㄴRE :메종 테일러"*/
/*}*/

/*.section_help .tbl_help .text.open {*/
/*    display: block*/
/*}*/

/*.section_refund {*/
/*    padding: 74px 0 156px*/
/*}*/

/*.section_refund .txt_info {*/
/*    padding-top: 16px;*/
/*    font-size: 16px;*/
/*    line-height: 22px*/
/*}*/

/*!* 주문 요청, 장바구니, 결제하기 *!*/
/*.request, .cart, .pay {*/
/*    padding: 48px 0 166px*/
/*}*/

/*.tit_complete {*/
/*    overflow: hidden;*/
/*    margin-top: 30px;*/
/*    padding-top: 115px;*/
/*    font-size: 24px;*/
/*    line-height: 36px;*/
/*    text-align: center;*/
/*    background: url(../images/bg_complete.png) 50% 0 no-repeat*/
/*}*/

/*.tit_complete:before {*/
/*    display: block;*/
/*    margin: 9px 0 15px;*/
/*    color: #00a2e1;*/
/*    font-size: 40px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 54px;*/
/*    content: "COMPLETE"*/
/*}*/

/*.txt_complete {*/
/*    padding-top: 4px;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    text-align: center*/
/*}*/

/*.step {*/
/*    overflow: hidden;*/
/*    padding: 10px 0 8px 24px;*/
/*    text-align: center*/
/*}*/

/*.step li {*/
/*    display: inline-block;*/
/*    color: #9b9b9b;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    vertical-align: top*/
/*}*/

/*.step li:not(:first-child):before {*/
/*    display: inline-block;*/
/*    margin: 0 10px;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    vertical-align: top;*/
/*    background: url(../images/ico_step.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.step .on {*/
/*    color: #00a2e1;*/
/*    font-weight: bold*/
/*}*/

/*.box_message {*/
/*    display: table;*/
/*    margin: 0 auto;*/
/*    width: 774px;*/
/*    height: 228px;*/
/*    background: #f6f6f6;*/
/*    text-align: center*/
/*}*/

/*.box_message .in_txt {*/
/*    display: table-cell;*/
/*    vertical-align: middle;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*    line-height: 29px*/
/*}*/

/*.bottom_btn {*/
/*    padding-top: 16px;*/
/*    text-align: right*/
/*}*/

/*.bottom_btn .btn_comm {*/
/*    width: 140px*/
/*}*/

/*.section_product {*/
/*    margin: 0 auto;*/
/*    width: 732px*/
/*}*/

/*.section_product .btn_delete {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    padding: 16px*/
/*}*/

/*.section_product .btn_delete:before {*/
/*    display: block;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_delete.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.details {*/
/*    position: relative;*/
/*    margin-top: 16px;*/
/*    border-top: 1px solid #f6f6f6;*/
/*    padding: 22px 0 0 8px*/
/*}*/

/*.details .photo {*/
/*    float: left*/
/*}*/

/*.details .info {*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    padding-left: 22px;*/
/*    height: 320px*/
/*}*/

/*.details .cont {*/
/*    padding-bottom: 15px;*/
/*    font-weight: bold*/
/*}*/

/*.details .cont .txt {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding-right: 54px;*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 22px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.details .cont .tit {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding-right: 54px;*/
/*    max-height: 76px;*/
/*    font-size: 28px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    line-height: 38px*/
/*}*/

/*.details .cont .price {*/
/*    display: block;*/
/*    font-size: 20px;*/
/*    line-height: 27px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.details .quantity {*/
/*    padding: 2px 0 15px;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.details .quantity .num {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    margin-left: 16px;*/
/*    padding: 0 30px;*/
/*    height: 24px;*/
/*    vertical-align: top*/
/*}*/

/*.details .quantity .num input {*/
/*    display: block;*/
/*    padding-left: 10px;*/
/*    width: 32px;*/
/*    height: 22px;*/
/*    border: 0;*/
/*    border-bottom: 2px solid #d8d8d8;*/
/*    text-align: center*/
/*}*/

/*.details .quantity button {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 24px;*/
/*    height: 24px*/
/*}*/

/*.details .quantity .btn_down {*/
/*    left: 0;*/
/*    background: url(../images/ico_minus.png) no-repeat*/
/*}*/

/*.details .quantity .btn_up {*/
/*    right: 0;*/
/*    background: url(../images/ico_plus.png) no-repeat*/
/*}*/

/*.details .desc {*/
/*    overflow: hidden*/
/*}*/

/*.details .desc .txt_info {*/
/*    height: 30px;*/
/*    color: #00a2e1;*/
/*    font-size: 12px;*/
/*    line-height: 30px;*/
/*    text-align: center;*/
/*    background: #f6f6f6*/
/*}*/

/*.details .desc .link_origin {*/
/*    display: block;*/
/*    margin-top: 8px;*/
/*    padding: 12px;*/
/*    height: 64px;*/
/*    border: 1px solid currentColor;*/
/*    box-sizing: border-box;*/
/*    color: #00a2e1;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    line-height: 22px;*/
/*    text-align: center*/
/*}*/

/*.details .desc .link_origin:before {*/
/*    display: inline-block;*/
/*    margin-right: 4px;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_link.png) no-repeat;*/
/*    vertical-align: top;*/
/*    content: ""*/
/*}*/

/*.details .desc .link_origin .url {*/
/*    display: block;*/
/*    font-size: 12px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-weight: normal;*/
/*    line-height: 16px*/
/*}*/

/*.details .options {*/
/*    margin-top: 24px;*/
/*    width: 100%;*/
/*}*/

/*.details .options:after {*/
/*    display: table;*/
/*    table-layout: fixed;*/
/*    clear: both;*/
/*    content: ""*/
/*}*/

/*.details .box_option {*/
/*    position: relative;*/
/*    margin-bottom: 16px;*/
/*    padding: 16px;*/
/*    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.27)*/
/*}*/

/*.details .box_option:after {*/
/*    display: table;*/
/*    table-layout: fixed;*/
/*    clear: both;*/
/*    content: ""*/
/*}*/

/*.details .box_option:first-of-type {*/
/*    margin-top: 0*/
/*}*/

/*.details .box_option .tit_option {*/
/*    display: block;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*}*/

/*.details .box_option .tf_option {*/
/*    overflow: hidden;*/
/*    margin-top: 15px*/
/*}*/

/*.details .box_option .tf_option .inp {*/
/*    display: block;*/
/*    padding: 7px 12px 10px;*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    border: 0;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*    font-size: 16px;*/
/*    background: #f6f6f6*/
/*}*/

/*.details .box_option .tf_option textarea.inp {*/
/*    min-height: 112px;*/
/*    resize: vertical*/
/*}*/

/*.details .box_option .btn_delete {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    padding: 16px*/
/*}*/

/*.details .box_option .btn_delete:before {*/
/*    display: block;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../images/ico_delete.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.details .box_add {*/
/*    padding: 21px 0 18px;*/
/*    height: 144px;*/
/*    box-sizing: border-box;*/
/*    background: #f6f6f6;*/
/*    text-align: center*/
/*}*/

/*.details .box_add .btn_add {*/
/*    padding: 15px;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.details .box_add .btn_add:before {*/
/*    display: block;*/
/*    margin: 0 auto 15px;*/
/*    width: 36px;*/
/*    height: 36px;*/
/*    background: url(../images/ico_add.png) no-repeat;*/
/*    content: ""*/
/*}*/

/*.cont_pay {*/
/*    margin-top: 15px;*/
/*    padding: 15px 0;*/
/*    border-top: 1px solid #e0e0e0*/
/*}*/

/*.cont_pay .tit_pay {*/
/*    display: block;*/
/*    font-size: 20px;*/
/*    line-height: 29px*/
/*}*/

/*.cont_pay .item_input {*/
/*    overflow: hidden;*/
/*    margin-top: 15px;*/
/*    min-height: 24px*/
/*}*/

/*.cont_pay .item_input .tit {*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.cont_pay .item_input .tf {*/
/*    overflow: hidden;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.cont_pay .item_input .tf .inp {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    padding: 7px 12px 10px;*/
/*    border: 0;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    text-align: left;*/
/*    background: #f6f6f6*/
/*}*/

/*.cont_pay .item_input .tf textarea.inp {*/
/*    min-height: 71px;*/
/*    resize: vertical*/
/*}*/

/*.cont_pay.input .item_input .tf {*/
/*    margin-top: 10px;*/
/*    width: 240px*/
/*}*/

/*.cont_pay.input .item_input .tf.address {*/
/*    width: 522px*/
/*}*/

/*.cont_pay.input .item_input .tf.search {*/
/*    position: relative;*/
/*    padding-right: 110px;*/
/*}*/

/*.cont_pay.input .item_input .tf.search .btn_comm {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 90px;*/
/*    height: 40px;*/
/*    line-height: 40px*/
/*}*/

/*.cont_pay.input .item_input .tf.memo {*/
/*    width: 438px*/
/*}*/

/*.cont_pay.type1 .item_input .tf {*/
/*    float: right;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    text-align: right*/
/*}*/

/*.cont_pay.type2 .item_input .tf {*/
/*    float: right;*/
/*    font-weight: bold;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    text-align: right*/
/*}*/

/*.cont_pay.type2 .item_input .tit {*/
/*    color: #9b9b9b;*/
/*    font-weight: bold*/
/*}*/

/*.cont_pay .item_input.total {*/
/*    margin-top: 18px*/
/*}*/

/*.cont_pay .item_input.total .tit {*/
/*    color: #4a4a4a;*/
/*    font-weight: bold;*/
/*    line-height: 36px*/
/*}*/

/*.cont_pay .item_input.total .tf {*/
/*    font-weight: bold;*/
/*    font-size: 28px*/
/*}*/

/*.cont_pay .item_input.prepare {*/
/*    padding-top: 15px;*/
/*    border-top: 2px solid #f6f6f6*/
/*}*/

/*.cont_pay .item_input.prepare:first-of-type {*/
/*    border-top: 0*/
/*}*/

/*.cont_pay .item_input.prepare .tf {*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*}*/

/*.cont_pay .box_message {*/
/*    margin-top: 16px;*/
/*    width: 702px;*/
/*    height: 175px*/
/*}*/

/*.section_product.complete {*/
/*    margin-top: 40px;*/
/*    background: #f6f6f6*/
/*}*/

/*.section_product.complete .details {*/
/*    margin: 0 14px;*/
/*    padding: 26px 30px;*/
/*    border-top-color: #e0e0e0*/
/*}*/

/*.section_product.complete .details:first-child {*/
/*    border-top: 0*/
/*}*/

/*.section_product.complete .info {*/
/*    height: 118px*/
/*}*/

/*.section_product.complete .cont .tit {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_product.complete .options {*/
/*    margin-top: 8px*/
/*}*/

/*.section_product.complete .options li {*/
/*    padding-top: 8px;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.section_product.complete .options .tit_option {*/
/*    display: inline-block;*/
/*    width: 138px;*/
/*    vertical-align: top*/
/*}*/

/*.product_btn {*/
/*    overflow: hidden;*/
/*    margin: 16px auto 0;*/
/*    width: 732px*/
/*}*/

/*.product_btn .btn_comm {*/
/*    float: left;*/
/*    width: 360px*/
/*}*/

/*.product_btn .btn_comm:first-of-type {*/
/*    margin-right: 12px*/
/*}*/

/*.product_btn .btn_comm:first-child:last-child {*/
/*    margin-right: 0;*/
/*    width: 100%*/
/*}*/

/*.order_info {*/
/*    overflow: hidden;*/
/*    padding-top: 16px;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.order_info:after {*/
/*    display: table;*/
/*    clear: both;*/
/*    content: "";*/
/*    table-layout: fixed*/
/*}*/

/*.order_info .date {*/
/*    float: left*/
/*}*/

/*.order_info .number {*/
/*    float: right;*/
/*    color: #9b9b9b*/
/*}*/

/*.section_pay {*/
/*    margin: 16px auto 0;*/
/*    width: 774px;*/
/*    padding: 0 35px 24px;*/
/*    border: 1px solid #e0e0e0;*/
/*    box-sizing: border-box*/
/*}*/

/*.section_pay .details {*/
/*    padding: 20px 0;*/
/*    border-top: 0*/
/*}*/

/*.section_pay .details .info {*/
/*    height: 136px*/
/*}*/

/*.section_pay .details .tit {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.section_pay .options {*/
/*    margin-top: 8px*/
/*}*/

/*.section_pay .options li {*/
/*    padding-top: 8px;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.section_pay .options .tit_option {*/
/*    display: inline-block;*/
/*    width: 138px;*/
/*    vertical-align: top*/
/*}*/

/*!* mypage *!*/
/*.my {*/
/*    padding: 32px 0 110px;*/
/*    min-height: 820px*/
/*}*/

/*.my_info {*/
/*    padding: 32px;*/
/*    height: 272px;*/
/*    box-sizing: border-box;*/
/*    background: #02455f*/
/*}*/

/*.my_info .photo_member {*/
/*    overflow: hidden;*/
/*    margin: 0 auto;*/
/*    width: 112px;*/
/*    height: 112px;*/
/*    border-radius: 50%;*/
/*    background: url(../images/thumb_my.png) no-repeat*/
/*}*/

/*.my_info .cont_member {*/
/*    padding-top: 9px;*/
/*    color: #fff;*/
/*    text-align: center*/
/*}*/

/*.my_info .cont_member .name {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-size: 20px;*/
/*    line-height: 30px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/

/*.my_info .cont_member .id {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/

/*.my_info .cont_member .link_edit {*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*    color: #fff;*/
/*    font-size: 12px;*/
/*    line-height: 18px;*/
/*    text-decoration: underline;*/
/*    vertical-align: top*/
/*}*/

/*.list_my_menu {*/
/*    padding: 0 16px;*/
/*    border: 1px solid #e0e0e0;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*    line-height: 29px*/
/*}*/

/*.list_my_menu li {*/
/*    border-bottom: 1px solid #f6f6f6*/
/*}*/

/*.list_my_menu li:last-child {*/
/*    border-bottom: 0*/
/*}*/

/*.list_my_menu .link_menu {*/
/*    display: block;*/
/*    padding: 25px 10px*/
/*}*/

/*.list_my_menu .link_menu .num {*/
/*    display: inline-block;*/
/*    margin: 7px 0 0 4px;*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    border-radius: 2px;*/
/*    color: #fff;*/
/*    font-size: 12px;*/
/*    line-height: 18px;*/
/*    text-align: center;*/
/*    vertical-align: top;*/
/*    background: #00a2e1*/
/*}*/

/*.list_my_menu .on {*/
/*    border-width: 2px*/
/*}*/

/*.list_my_menu .link_menu:hover,*/
/*.list_my_menu .on .link_menu {*/
/*    color: #00a2e1*/
/*}*/

/*.dashboard {*/
/*    padding: 32px 0 31px;*/
/*    height: 208px;*/
/*    box-sizing: border-box;*/
/*    background: #f6f6f6*/
/*}*/

/*.dashboard li {*/
/*    float: left;*/
/*    width: 16.66%;*/
/*    height: 145px;*/
/*    border-left: 1px solid #e0e0e0;*/
/*    box-sizing: border-box*/
/*}*/

/*.dashboard li:first-child {*/
/*    border-left: 0*/
/*}*/

/*.dashboard .item {*/
/*    display: block;*/
/*    color: #00a2e1;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 48px;*/
/*    line-height: 66px;*/
/*    text-align: center*/
/*}*/

/*.dashboard span.item {*/
/*    color: #9b9b9b*/
/*}*/

/*.dashboard .tit {*/
/*    display: block;*/
/*    padding-bottom: 16px;*/
/*    color: #4a4a4a;*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    background-repeat: no-repeat*/
/*}*/

/*.dashboard .tit:before {*/
/*    display: block;*/
/*    margin: 2px auto 9px;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    content: ""*/
/*}*/

/*.dashboard .icon1:before {*/
/*    background-image: url(../images/ico_ship1.png)*/
/*}*/

/*.dashboard .icon2:before {*/
/*    background-image: url(../images/ico_ship2.png)*/
/*}*/

/*.dashboard .icon3:before {*/
/*    background-image: url(../images/ico_ship3.png)*/
/*}*/

/*.dashboard .icon4:before {*/
/*    background-image: url(../images/ico_ship4.png)*/
/*}*/

/*.dashboard .icon5:before {*/
/*    background-image: url(../images/ico_ship5.png)*/
/*}*/

/*.dashboard .icon6:before {*/
/*    background-image: url(../images/ico_ship6.png)*/
/*}*/

/*.list_my {*/
/*}*/

/*.list_my li {*/
/*    position: relative;*/
/*    margin-top: 16px*/
/*}*/

/*.list_my .link_box {*/
/*    display: block;*/
/*    padding-bottom: 20px;*/
/*    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .18)*/
/*}*/

/*.list_my .order_info {*/
/*    display: block;*/
/*    margin-bottom: 18px;*/
/*    padding: 11px 20px;*/
/*    height: 48px;*/
/*    border-bottom: 1px solid #f6f6f6;*/
/*    box-sizing: border-box*/
/*}*/

/*.list_my .order_info .date {*/
/*    width: 166px*/
/*}*/

/*.list_my .order_info .status {*/
/*    float: left;*/
/*    color: #00a2e1*/
/*}*/

/*.list_my .thumb {*/
/*    float: left;*/
/*    padding-left: 20px;*/
/*    height: 136px*/
/*}*/

/*.list_my .cont {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding: 8px 20px 8px 33px;*/
/*    height: 136px;*/
/*    box-sizing: border-box;*/
/*    background: #fff*/
/*}*/

/*.list_my .cont .tit {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 28px;*/
/*    line-height: 38px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.list_my .cont .txt {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 22px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.list_my .cont .price {*/
/*    display: block;*/
/*    font-size: 20px;*/
/*    line-height: 27px*/
/*}*/

/*.list_my .cont .quantity {*/
/*    display: block;*/
/*    padding-top: 9px;*/
/*    font-size: 16px;*/
/*    line-height: 24px*/
/*}*/

/*.list_my .btn_comm {*/
/*    position: absolute;*/
/*    bottom: 20px;*/
/*    right: 20px;*/
/*    width: 140px*/
/*}*/


/*.list_qna {*/
/*    border: 1px solid #e0e0e0;*/
/*    border-top: 0*/
/*}*/

/*.list_qna li {*/
/*    position: relative;*/
/*    border-top: 1px solid #e0e0e0*/
/*}*/

/*.list_qna .link_box {*/
/*    display: block;*/
/*    padding: 32px 32px 40px*/
/*}*/

/*.list_qna .thumb {*/
/*    float: left;*/
/*    height: 136px*/
/*}*/

/*.list_qna .cont {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding: 0 20px 0 33px;*/
/*    height: 136px;*/
/*    box-sizing: border-box;*/
/*    background: #fff*/
/*}*/

/*.list_qna .cont .tit {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 28px;*/
/*    line-height: 38px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.list_qna .cont .txt {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 22px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap*/
/*}*/

/*.list_qna .cont .date {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    padding: 2px 0 26px;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*}*/

/*.list_qna .link_answer {*/
/*    position: absolute;*/
/*    bottom: 15px;*/
/*    left: 176px;*/
/*    padding: 25px;*/
/*    color: #00a2e1;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    vertical-align: top;*/
/*    background: #fff*/
/*}*/

/*.list_qna span.link_answer {*/
/*    color: #4a4a4a;*/
/*    font-weight: normal;*/
/*    text-decoration: underline*/
/*}*/


/*.my .section_list {*/
/*    padding-top: 0*/
/*}*/

/*.my .section_list.with {*/
/*    padding-top: 65px*/
/*}*/


/*!* 로그인 *!*/
/*.error-message,*/
/*.errors {*/
/*    margin: 23px 0;*/
/*    color: red;*/
/*    text-align: left*/
/*}*/

/*.login {*/
/*    padding: 140px 0 80px;*/
/*    background: #f5f5f5*/
/*}*/

/*.login .main-content {*/
/*    overflow: hidden;*/
/*    margin: 0 auto;*/
/*    padding: 35px 25px 0;*/
/*    width: 430px;*/
/*    box-sizing: border-box;*/
/*    box-shadow: 3px 10px 20px 0 rgba(0, 0, 0, .1);*/
/*    background: #fff;*/
/*    text-align: center;*/
/*}*/

/*.login .page-title {*/
/*    color: #515050;*/
/*    font-weight: normal;*/
/*    font-size: 28px;*/
/*    line-height: 1.25;*/
/*    letter-spacing: -1px*/
/*}*/

/*.login .sub_text {*/
/*    margin-bottom: 30px;*/
/*    color: #333;*/
/*    font-size: 13px;*/
/*    font-weight: normal*/
/*}*/

/*.login .sub_text2 {*/
/*    margin-top: 50px;*/
/*    color: #333;*/
/*    font-size: 13px;*/
/*    font-weight: normal*/
/*}*/

/*.login .input-wrapper {*/
/*    margin: 20px 0;*/
/*    color: #333;*/
/*    font-size: 16px*/
/*}*/

/*.login .input-wrapper .button {*/
/*    padding: 8px 30px*/
/*}*/

/*.login .foot-note {*/
/*    font-weight: 300;*/
/*    font-size: 13px*/
/*}*/

/*.login .foot-note > a {*/
/*    text-decoration: none;*/
/*}*/

/*.login .new-customer {*/
/*    margin-top: 20px;*/
/*    border-top: 1px solid #d5dbdd*/
/*}*/

/*.login .new-customer h4 {*/
/*    float: left;*/
/*    margin-top: 35px;*/
/*    font-size: 16px;*/
/*    line-height: 30px;*/
/*    font-weight: normal;*/
/*    color: #515050*/
/*}*/

/*.login .new-customer .input-wrapper {*/
/*    float: right;*/
/*    margin: 25px 0;*/
/*    line-height: 50px*/
/*}*/

/*.login .new-customer .input-wrapper a {*/
/*    padding: 0 40px*/
/*}*/

/*.input-field-textarea,*/
/*.input-field {*/
/*    display: block;*/
/*    padding: 15px;*/
/*    width: 100%;*/
/*    height: 48px;*/
/*    border: 1px solid #d7dcde;*/
/*    border-radius: 5px;*/
/*    box-sizing: border-box;*/
/*    color: #51595d;*/
/*    font-size: 16px;*/
/*    background: transparent*/
/*}*/

/*.btn_login {*/
/*    display: inline-block;*/
/*    padding: 12px 30px;*/
/*    width: 100%;*/
/*    height: 48px;*/
/*    border: 0;*/
/*    border-radius: 5px;*/
/*    box-sizing: border-box;*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    background: #3dbce7*/
/*}*/
