`
<html>
<head>
    <meta charset="utf-8">
    <title>장바구니</title>
    <script src="/static/vue-good-table.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="/static/vue-good-table.css" rel="stylesheet">
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="ko-KR"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="../static/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta>

    <script src="../static/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/main_back.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script src="/static/secret.js"></script>
    <link href="/static/css/common.css" rel="stylesheet">

</head>
<body>
<div id="app" v-if="user ">
    <div class="header">
        <div class="inner">
            <h1 class="logo"><a href="/main"><span class="blind">MAISON TAILOR</span></a></h1>
            <div class="gnb">
                <ul class="service_menu">
                    <li><a class="link" href="/self_pay">셀프결제</a></li>
                    <li><a class="link" href="/cart">장바구니</a></li>
                    <li><a class="link" href="##">직원호출</a></li>
                </ul>
                <div class="my_menu">
                    <div class="wrap_search"><!-- 검색 버튼 클릭시 on 클래스 추가 -->
                        <div class="layer_search">
                            <input class="inp_search" placeholder="찾는 제품이 있으신가요?" type="search">
                        </div>
                    </div>
                    <div class="wrap_layer" :class="{on : visibleMenu}"><!-- MY 버튼 클릭시 on 클래스 추가 -->
                        <button class="btn_mypage" type="button"><span class="blind">MY PAGE</span></button>
                        <div class="layer_menu">
                            <ul class="menu">
                                <li><a href="##">주문내역</a></li>
                                <li><a href="##"></a></li>
                            </ul>
                            <a @click="logout" class="logout">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_body" v-if="cart != null && cart.length>0">
        <div class="scan_product">
            <div style="font-size: 32px;margin-top: 32px;"><b>장바구니</b></div>
            <div class="qr_goods_list" style="margin-top: 24px">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" style="text-align: center">상품정보</th>
                        <th scope="col" style="text-align: center">상품가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 100px" v-for="item of cart">
                        <td style="width : 75%">
                            <div class="table_item_goods">
                                <img :src="item.goods.images[0].url" width="100" height="100"
                                     @click="toGoods(item.goods.id)" class="pointer">
                                <div class="goods_info">
                                    <div class="goods_text">
                                        <span style="font-size: 14px;">{{item.goods.vendor}}</span>
                                        <div>
                                            {{item.goods.name}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                        <td style="width : 15%">
                            <div class="table_item_goods"
                                 style="height: 100px; font-size: 18px; justify-content: center; position: relative;">
                                <select class="qty" v-model="item.qty">
                                    <option v-for="qty of qtyList" :index="qty" :value="qty">{{qty}}</option>
                                </select>
                                <div>
                                    {{qtyPrice(item)}} 원
                                </div>
                                <button class="delete_button" @click="deleteCart(item.id)">X</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="total_price">
            <div style="font-size: 16px;">
                사용 가능 포인트 :{{user.point}}
            </div>
            <div style="margin-top: 14px;">
                사용 할 포인트 : <input type="text" placeholder="포인트 입력" v-model="usePoint">
            </div>
        </div>

        <div class="total_price">
            <div>
                예상 적립 포인트 : {{expectedPoint}}원
            </div>
            <div v-if="usePoint>0">
                사용할 포인트 : {{usePoint}}
            </div>
            <b style="font-size: 24px">총 결제금액 : {{payPrice}}</b>
        </div>

        <div class="form-group" id="payment-form" style="width: 1024px; margin: 0 auto;">
            <div class="form-row">
                <div id="card-element" style="margin: 0 auto;">
                </div>
            </div>

            <button class="btn_comm primary"
                    style="font-size:24px;padding-left: 8px; padding-right: 8px;margin-top: 18px" @click="order">결제하기
            </button>

        </div>

    </div>
    <div v-else>
        <div class="content_empty">
            <div>
                <img src="static/images/icon-empty-cart.png">
                <div style="font-size: 20px; margin-top: 32px;">장바구니가 비었어요!</div>
                <a href="/main">
                    <button class="btn_comm primary" style="margin-top: 46px;margin-left: 8px; font-size: 24px;">상품
                        보러가기
                    </button>
                </a>
            </div>
        </div>
    </div>

</div>

</div>
(% include 'partials/footer.html' %)
</body>
</html>

<script>

    var vue = new Vue({
            el: '#app',
            components: {},
            data: {
                cart: null,
                recommend: null,
                visibleMenu: false,
                status: 0,
                qtyList: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                stripe: null,
                card: null,
                goods_list: [],
                cart_list: [],
                usePoint: 0,
                user: null,

            },

            watch: {
                usePoint(val) {
                    if (Number.isNaN(Number(val))) {
                        alert("올바른 포인트를 입력해주세요");
                        this.usePoint = 0;
                        return;
                    }

                    if (val > this.user.point) {
                        alert("보유한 포인트가 부족합니다.")
                        this.usePoint = 0;
                        return;
                    }

                    this.usePoint = Number(val);

                },
                goods_list(goods) {
                    if (goods != null) {
                    }
                }
            },
            async created() {

                try {
                    const access_token = localStorage.getItem("access_token");
                    if (!access_token) {
                        Swal.fire({
                            text: "인증 되지 않았습니다.",
                            icon: 'error',
                        }).then(result => {
                            if (result.value) {
                                location.href = "/";
                            }
                        });
                    }
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + access_token;
                    const userResponse = await axios.get('http://localhost:5001/api/v1/user/me');
                    this.user = userResponse.data;


                    if (this.user == null) {
                        Swal.fire({
                            text: "인증 되지 않았습니다.",
                            icon: 'error',
                        }).then(result => {
                            if (result.value) {
                                location.href = "/";
                            }
                        });
                    }
                    console.log(this.user);
                    this.getCart();


                } catch (e) {
                    console.log(e.response.data);
                    Swal.fire({
                        text: e.message,
                        icon: 'error',
                    })
                }
                // Swal.close();

            },
            computed: {
                payPrice() {
                    var result = 0;
                    let selected = this.cart.map(cart => cart.goods);
                    selected.forEach(content => {
                        result += content.qtyPrice
                    });
                    if (this.usePoint && this.usePoint > 0) {
                        result = result - this.usePoint;
                    }
                    return result;
                },
                expectedPoint() {
                    return Math.round(this.payPrice * 0.07) * 100 / 100

                }
            },
            methods: {
                logout() {
                    localStorage.clear();
                    location.href = "/";
                },
                getCart() {
                    axios.get('http://localhost:5001/api/v1/cart').then(result => {
                        this.cart = result.data;
                        console.log(this.cart);
                    }).catch(err => {
                        swalError(Swal, err);
                    })

                },
                qtyPrice(cart) {
                    var price = cart.qty * cart.goods.price;
                    // cart.goods.qtyPrice = price;
                    vue.$set(cart.goods, 'qtyPrice', price);
                    console.log(cart.goods.qtyPrice);
                    return price;
                },
                deleteCart(id) {
                    axios.delete('http://localhost:5001/api/v1/cart/' + id).then(result => {
                        Swal.fire({
                            text: '삭제완료',
                            icon: 'success'
                        });
                        this.getCart();
                    }).catch(err => {
                        swalError(Swal, err);
                    })
                },
                order() {
                    this.stripe.createToken(this.card).then(async result => {
                        if (result.error) {
                            Swal.fire({
                                text: result.error.message,
                                icon: 'error',
                            });
                            return
                        }

                        if (this.cart != null && this.cart.length > 0) {
                            const payRequest = {
                                lineItems: [],
                                payPrice: this.payPrice,
                                usePoint: this.usePoint,
                                stripeToken: "MyStripeTokenFaceVisitor"
                            };

                            const lineItems = this.cart.map(cart => {
                                let lineItem = {};
                                lineItem.goods = cart.goods;
                                lineItem.goodsName = cart.goods.name;
                                lineItem.goodsPrice = cart.goods.price;
                                lineItem.qty = cart.qty;
                                lineItem.frontPrice = cart.goods.qtyPrice;
                                return lineItem;
                            });

                            payRequest.lineItems = lineItems;

                            axios.post('http://localhost:5001/api/v1/order/pay/multiple', payRequest).then(result => {
                                Swal.fire({text: '결제를 완료했습니다', icon: 'success'}).then(r => {
                                    axios.delete('http://localhost:5001/api/v1/cart/all').then(deleteAll => {
                                        const data = result.data;
                                        const order_id = data.id;
                                        location.href = "/order/complete/" + order_id;
                                    }).catch(err => {
                                        swalError(Swal, err);
                                    });

                                })
                            }).catch(err => {
                                if (err.response.status == 400) {
                                    Swal.fire({text: err.response.data.message, icon: 'error'});
                                } else {
                                    Swal.fire({text: '결제를 완료할 수 없습니다. ', icon: 'error'});
                                }
                            })

                        } else {
                            return alert("주문할 상품이 없습니다.");
                        }
                    });
                },
                clickMenu(ref) {
                    if (ref.target.className == 'btn_mypage') {
                        this.visibleMenu = !this.visibleMenu
                    } else {
                        this.visibleMenu = false
                    }
                },
                toGoods(id) {
                    location.href = "/goods/" + id;
                }

            },
            async mounted() {
                // this.goods_list.push({
                //     id: 32,
                //     selected: true,
                //     content: {
                //         name: '상품명 test',
                //         images: [{url: 'https://dummyimage.com/100x100/000/555'}],
                //         qty: 1,
                //         price: 1000,
                //     }
                // });


                await new Promise(resolve => {
                    setTimeout(function () {
                        resolve()
                    }, 800)
                });

                const stripe = Stripe('pk_test_2UoOrX6dpNBGN8MPbAYUfeI600DpoLdoXZ');
                this.stripe = stripe;
                var elements = stripe.elements({
                    fonts: [
                        {
                            family: 'Open Sans',
                            weight: 400,
                            src: 'local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2")',
                            unicodeRange: 'U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215',
                        },
                    ]
                });

                var card = elements.create('card', {
                    hidePostalCode: true,
                    style: {
                        base: {
                            iconColor: '#F99A52',
                            color: '#32315E',
                            lineHeight: '48px',
                            fontWeight: 400,
                            fontFamily: '"Open Sans", "Helvetica Neue", "Helvetica", sans-serif',
                            fontSize: '15px',

                            '::placeholder': {
                                color: '#CFD7DF',
                            }
                        },
                    }
                });
                card.mount('#card-element');
                this.card = card;
            }
        }
    );


</script>

<style scoped>

    .delete_button {
        margin-left: 24px;
    }

    .content_body {
        margin: 24px 0px;
        text-align: center;
        min-height: 800px;
    }

    .content_empty {
        margin: 24px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 600px;
    }

    #canvas {
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        display: block;
        /*position: absolute;*/
    }

    .dashboard {
        width: 580px;
        margin: 0 auto;
        padding: 16px;
        height: 90px;
        box-sizing: border-box;
        background: #f6f6f6;
    }

    .dashboard li {
        float: left;
        width: 33%;
        height: 40px;
        border-left: 1px solid #e0e0e0;
        box-sizing: border-box;
    }

    .dashboard li:first-child {
        border-left: 0px;
    }

    .title {
        margin-top: 8px;
        font-size: 14px;
    }

    .bold {
        color: #0658fc;
    }

    .table {
        margin-bottom: 0px;
    }

    .qr_goods_list {
        margin: 0 auto;
        width: 1040px;
        border: 1px solid #6c757d;
    }


    .table_item_goods {
        display: flex;
        align-items: center;
    }

    .goods_info {
        padding: 16px 0px;
        font-size: 18px;
    }

    .goods_text {
        max-width: 600px;
        height: 64px;
        overflow: hidden;
        margin-left: 24px;
        text-overflow: ellipsis;
    }


    .qty {
        width: 46px;
        height: 46px;
        position: absolute;
        left: -30px;
    }


    .cart_goods_list {

        margin: 0 auto;
        margin-top: 14px;
        width: 1040px;
        border: 1px solid #6c757d;
    }

    .total_price {
        background-color: #f6f6f6;
        height: 120px;
        margin: 24px auto;
        width: 1040px;
        padding: 24px;
        box-sizing: border-box;
    }

    .StripeElement {
        box-sizing: border-box;
        width: 600px;
        height: 80px;
        padding: 24px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>`