<!DOCTYPE html>
<html lang="ko">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta content="ko-KR" http-equiv="Content-Language"/>
    <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
    <link href="/static/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/main_back.css" rel="stylesheet">

</head>
<body>

<div @click="clickMenu" class="wrapper main animated fadeIn" id="app" v-if="user && products">
    <div class="header" style="background-color: black; color:white;">
        <div class="inner">
            <h1 class="logo" style="margin-top: 16px;"><a href="/main"><span class="blind">MAISON TAILOR</span></a></h1>
            <div class="gnb">
                <ul class="service_menu">
                    <li><a class="link" href="/self_pay" style="color: white">셀프결제</a></li>
                    <li><a class="link" href="/cart" style="color: white">장바구니</a></li>
                    <li><a class="link" href="##" style="color: white">직원호출</a></li>
                </ul>
                <div class="my_menu">
                    <div class="wrap_search"><!-- 검색 버튼 클릭시 on 클래스 추가 -->

                        <div class="layer_search">
                            <input class="inp_search" placeholder="찾는 제품이 있으신가요?" type="search">
                        </div>
                    </div>
                    <div :class="{on : visibleMenu}" class="wrap_layer"><!-- MY 버튼 클릭시 on 클래스 추가 -->
                        <button class="btn_mypage" type="button"><span class="blind">MY PAGE</span></button>
                        <div class="layer_menu">
                            <ul class="menu">
                                <li><a href="##">주문내역</a></li>
                                <li><a href="##"></a></li>
                            </ul>
                            <a class="logout" href="#">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 16px;">
            <div class="row">
                <div class="col-2">
                    <div class="name_container">
                        <div class="name">
                            {{user.name}}님
                        </div>
                        <div class="level">
                            LV.4 플레티넘
                        </div>
                    </div>
                </div>
                <div class="col-2 offset-6 text-center">
                    <img height="48" src="/static/images/ic-point-border-white.png" width="48"/>
                    <div>
                        포인트
                    </div>
                    <div class="value">
                        {{user.point}}원
                    </div>
                </div>

                <div class="col-2 text-center">
                    <img height="48" src="/static/images/ic-heart-border-white-70-px.svg" width="48"/>
                    <div>
                        좋아요
                    </div>
                    <div class="value">
                        {{likeGoods != null ? likeGoods.length : 0}}개
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container2">
        <div class="container d-flex flex-row">
            <div class="rectangle">
                <div class="store_intro ">
                    <span class="store_intro_text ">{{store.name}} </span>
                    <div style="display: flex; margin-top: 10px">
                        <div style="margin : 14px 16px 0 0">
                            고객님의 관심 상품은?
                        </div>

                        <div class="tags">
                            <a class="link_tag" href="#"># IT기기</a>
                            <a class="link_tag" href="#"># 육류</a>
                            <a class="link_tag" href="#"># 마스크</a>
                        </div>

                    </div>
                </div>


            </div>
            <div @click="toSelfPay" class="rectangle_pay row align-items-center justify-content-center">
                <button class="pay_text">셀프결제 하기</button>
            </div>
        </div>

        <div class="section_list recommend">
            <div class="inner">
                <h2 class="tit_comm">{{category=='recommend' ? '추천상품' : category=='best' ? '인기상품' : ''}} 모두보기</h2>
                <ul class="list_comm" style="display: flex; flex-wrap: wrap">
                    <li style="width:25%" v-for="item of products">
                        <a :href=`/goods/${item.id}` class="link_box">
                                <span class="thumb"><img :src="item.images[0].url" alt=""
                                                         height="238"
                                                         width="262"></span>
                            <span class="cont">
                                    <span class="txt">{{item.vendor}}</span>
                                    <strong class="tit">{{item.name}}</strong>
                                    <span class="price">{{item.price}}원</span>

                                </span>
                        </a>
                        <button :class="{on: item.like}" @click="likeGoodsMethod(item)" class="btn_like pointer"
                                type="button"><span
                                class="blind">좋아요</span></button>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    (% include 'partials/footer.html' %)
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            visibleMenu: false,
            user: null,
            store: null,
            storeId: 1,
            products: [],
            category: null,
        },
        async created() {
            try {
                var params = {};
                window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                    params[key] = value;
                });
                this.category = params['category'];
                const access_token = localStorage.getItem("access_token");
                if (!access_token) {
                    Swal.fire({
                        text: "인증 되지 않았습니다.",
                        icon: 'error',
                    }).then(result => {
                        if (result.value) {
                            location.href = "/";
                        }
                    });
                }
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + access_token;
                var {data} = await axios.get('http://api.facevisitor.co.kr/api/v1/user/me');
                this.user = data;

                await this.getLikeGoods();

                if (this.category === 'recommend') {
                    var personalizeResponse = await axios.get('http://localhost:5000/recommend/' + this.user.id);
                    this.products = personalizeResponse.data;
                } else if (this.category === 'best') {
                    var bestResponse = await axios.get('http://localhost:5000/recommend/pop');
                    this.products = bestResponse.data;
                    this.checkIsLikeForList(this.products);
                }


                this.checkIsLikeForList(this.products);

                var storeResponse = await axios.get('http://api.facevisitor.co.kr/api/v1/owner/store/' + this.storeId);
                this.store = storeResponse.data;
                console.log("매장 : " + this.store);

            } catch (e) {
                console.log(e);
            }


        },
        methods: {
            async getLikeGoods() {
                try {
                    var likeResponse = await axios.get('http://api.facevisitor.co.kr/api/v1/user/like/goods');
                    this.likeGoods = likeResponse.data;
                    if (this.likeGoods.length > 0) {
                        this.likeGoods = this.likeGoods.map(likeGoods => likeGoods.id);
                    }
                    console.log("좋아요 : " + this.likeGoods);
                } catch (e) {
                    swalError(Swal, e);
                }

            },
            checkIsLikeForList(goodsList) {
                if (goodsList.length > 0) {
                    goodsList.forEach(goods => {
                        this.likeGoods.forEach(id => {
                            if (goods.id === id) {
                                goods.like = true;
                                console.log("yes like");
                            }
                        })
                    })
                }
            },

            clickMenu(ref) {
                if (ref.target.className == 'btn_mypage') {
                    this.visibleMenu = !this.visibleMenu
                } else {
                    this.visibleMenu = false
                }
            },
            toSelfPay() {
                location.href = "/self_pay"
            },
            likeGoodsMethod(goods) {
                axios.post('http://api.facevisitor.co.kr/api/v1/user/like/goods/' + goods.id).then(async result => {
                    const isLike = result.data;
                    if (isLike) {
                        var viewResponse = await axios.get('http://localhost:5000/recommend/' + this.user.id + "/" + this.goodsId + "/like");
                        goods.like = true;
                        Swal.fire({text: '좋아요!', icon: 'success'})
                    } else {
                        goods.like = false;
                        Swal.fire({text: '좋아요 취소!', icon: 'success'})
                    }
                }).catch(err => {
                    swalError(Swal, err);
                })
            }


        },
        mounted() {

        },
    });


</script>
<style>

    #app {
        animation-delay: 1s;
    }

    .header {
        background-color: black;
        height: 250px;
        color: white;
        z-index: 1;
    }

    .name {
        font-size: 42px;
    }

    .value {
        font-size: 24px;
        font-weight: bold;
    }

    .rectangle {
        z-index: 1;
        position: relative;
        width: 1108px;
        left: 10px;
        top: -30px;
        height: 120px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
    }

    .rectangle_pay {
        cursor: pointer;
        z-index: 2;
        top: -30px;
        position: relative;
        width: 262px;
        height: 121px;
        border: 60px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #0658fc;
    }

    .store_intro_sub {
        margin-left: 20px;
        margin-top: 20px;
    }

    .store_intro {
        margin-top: 16px;
        margin-left: 20px;
    }

    .store_intro_text {
        color: #0658fc;
        font-size: 24px;
        font-weight: bold;
    }

    .pay_text {
        color: white;
        font-weight: bold;
        font-size: 24px;
    }

    .link_tag {
        display: inline-block;
        margin: 8px 4px 0 0;
        padding: 3px 13px 5px;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        vertical-align: top;
        background: #00a2e1
    }

    .link_more {
        color: #0658fc
    }


</style>
</body>
</html>

