<!DOCTYPE html>
<html lang="ko">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta content="ko-KR" http-equiv="Content-Language"/>
    <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/main_back.css" rel="stylesheet">
</head>
<body>
<div class="wrapper main">
    <div class="header">
        <!-- <div class="wrap_head"> 제거 -->
        <div class="inner">
            <h1 class="logo"><a href="/"><span class="blind">MAISON TAILOR</span></a></h1>
            <div class="gnb">
                <ul class="service_menu">
                    <li><a class="link" href="##">홈</a></li>
                    <li><a class="link" href="##">스토어</a></li>
                    <li><a class="link" href="##">장바구니</a></li>
                </ul>
                <div class="my_menu">
                    <div class="wrap_search"><!-- 검색 버튼 클릭시 on 클래스 추가 -->
                        <button class="btn_search" type="button"><span class="blind">검색</span></button>
                        <div class="layer_search">
                            <input class="inp_search" placeholder="찾는 제품이 있으신가요?" type="search">
                        </div>
                    </div>
                    <div class="wrap_layer on"><!-- MY 버튼 클릭시 on 클래스 추가 -->
                        <button class="btn_mypage" type="button"><span class="blind">MY PAGE</span></button>
                        <div class="layer_menu">
                            <ul class="menu">
                                <li><a href="##">주문내역</a></li>
                                <li><a href="##">찜목록</a></li>
                                <li><a href="##">문의내역</a></li>
                                <li><a href="##">스타일 문답</a></li>
                                <li><a href="##">내정보</a></li>
                            </ul>
                            <a class="logout" href="#">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="visual">
            <div class="inner">
                <div class="desc_info">
                    <h2 class="tit_desc"><span>TODAY'S PICK</span>THE MESA <br>COLLECTION</h2>
                    <p class="txt_desc">새로운 컬렉션을 만나보세요.</p>
                </div>
                <div class="swiper-container gallery_main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img alt="" height="296"
                                                       src="https://dummyimage.com/400x296/ffdbff/7c7e94.png"
                                                       width="400"></div>
                        <div class="swiper-slide"><img alt="" height="296"
                                                       src="https://dummyimage.com/400x296/ffdbff/7c7e94.png"
                                                       width="400"></div>
                        <div class="swiper-slide"><img alt="" height="296"
                                                       src="https://dummyimage.com/400x296/ffdbff/7c7e94.png"
                                                       width="400"></div>
                        <div class="swiper-slide"><img alt="" height="296"
                                                       src="https://dummyimage.com/400x296/ffdbff/7c7e94.png"
                                                       width="400"></div>
                    </div>
                </div>
                <div class="swiper-container gallery_thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img alt="" height="48"
                                                       src="https://dummyimage.com/48x48/ffdbff/7c7e94.png" width="48">
                        </div>
                        <div class="swiper-slide"><img alt="" height="48"
                                                       src="https://dummyimage.com/48x48/ffdbff/7c7e94.png" width="48">
                        </div>
                        <div class="swiper-slide"><img alt="" height="48"
                                                       src="https://dummyimage.com/48x48/ffdbff/7c7e94.png" width="48">
                        </div>
                        <div class="swiper-slide"><img alt="" height="48"
                                                       src="https://dummyimage.com/48x48/ffdbff/7c7e94.png" width="48">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_pick">
            <div class="inner">
                <h2 class="tit"><b class="emph">손봉경</b>님께서 선택하신 문항입니다.</h2>
                <div class="tags">
                    <a class="link_tag" href="#"># 거실,주방 외 2곳</a>
                    <a class="link_tag" href="#"># 2인가구</a>
                    <a class="link_tag" href="#"># Zen, Classic, Artistic</a>
                    <a class="link_tag" href="#"># Balanced</a>
                    <a class="link_tag" href="#"># 거실,주방 외 2곳</a>
                    <a class="link_tag" href="#"># 2인가구</a>
                </div>
                <a class="link_detail" href="##">자세히 보기</a>
            </div>
        </div>
        <div class="section_title">당신에게 알맞은 상품은?</div>
        <div class="section_list livingroom">
            <div class="inner">
                <h2 class="tit_comm">거실 <span class="small">Living room</span></h2>
                <div class="swiper-container">
                    <ul class="swiper-wrapper list_comm">
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng QqkKjJpP QqkKjJpP QqkKjJpP QqkKjJpP</span>
                                    <strong class="tit">Yogarasa Gandhi QqkKjJpP QqkKjJpP QqkKjJpP QqkKjJpP</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like on" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                    </ul>
                </div>
                <button class="btn_slide btn_prev" type="button"><span class="blind">이전</span></button>
                <button class="btn_slide btn_next" type="button"><span class="blind">다음</span></button>
                <a class="link_more" href="#">모두보기</a>
            </div>
        </div>

        <div class="section_list kitchen">
            <div class="inner">
                <h2 class="tit_comm">주방 <span class="small">Kitchen</span></h2>
                <div class="swiper-container">
                    <ul class="swiper-wrapper list_comm">
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like on" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                    </ul>
                </div>
                <button class="btn_slide btn_prev" type="button"><span class="blind">이전</span></button>
                <button class="btn_slide btn_next" type="button"><span class="blind">다음</span></button>
                <a class="link_more" href="#">모두보기</a>
            </div>
        </div>

        <div class="section_list bedroom">
            <div class="inner">
                <h2 class="tit_comm">침실 <span class="small">Bed room</span></h2>
                <div class="swiper-container">
                    <ul class="swiper-wrapper list_comm">
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like on" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                    </ul>
                </div>
                <button class="btn_slide btn_prev" type="button"><span class="blind">이전</span></button>
                <button class="btn_slide btn_next" type="button"><span class="blind">다음</span></button>
                <a class="link_more" href="#">모두보기</a>
            </div>
        </div>

        <div class="section_brand">
            <div class="inner">
                <h2 class="tit_brand">BRAND FOR YOU <span class="txt">손봉경님 취향에 맞는 브랜드를 추천드립니다.</span></h2>
                <ul class="list_brand">
                    <li>
                        <a class="link_brand" href="#">
                        <span class="thumb">
                            <img alt="" height="132" src="https://dummyimage.com/132x132/ffdbff/7c7e94.png" width="132">
                            <span class="txt">zz</span>
                        </span>
                            <span class="cont">
                            <strong class="tit">Yogarasa Gandhi</strong>
                            <span class="txt">Xing Zheng</span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a class="link_brand" href="#">
                        <span class="thumb">
                            <img alt="" height="132" src="https://dummyimage.com/132x132/ffdbff/7c7e94.png" width="132">
                            <span class="txt">zz</span>
                        </span>
                            <span class="cont">
                            <strong class="tit">Yogarasa Gandhi</strong>
                            <span class="txt">Xing Zheng</span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a class="link_brand" href="#">
                        <span class="thumb">
                            <img alt="" height="132" src="https://dummyimage.com/132x132/ffdbff/7c7e94.png" width="132">
                            <span class="txt">zz</span>
                        </span>
                            <span class="cont">
                            <strong class="tit">Yogarasa Gandhi</strong>
                            <span class="txt">Xing Zheng</span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a class="link_brand" href="#">
                        <span class="thumb">
                            <img alt="" height="132" src="https://dummyimage.com/132x132/ffdbff/7c7e94.png" width="132">
                            <span class="txt">zz</span>
                        </span>
                            <span class="cont">
                            <strong class="tit">Yogarasa Gandhi</strong>
                            <span class="txt">Xing Zheng</span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a class="link_brand" href="#">
                        <span class="thumb">
                            <img alt="" height="132" src="https://dummyimage.com/132x132/ffdbff/7c7e94.png" width="132">
                            <span class="txt">zz</span>
                        </span>
                            <span class="cont">
                            <strong class="tit">Yogarasa Gandhi</strong>
                            <span class="txt">Xing Zheng</span>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a class="link_brand" href="#">
                        <span class="thumb">
                            <img alt="" height="132" src="https://dummyimage.com/132x132/ffdbff/7c7e94.png" width="132">
                            <span class="txt">zz</span>
                        </span>
                            <span class="cont">
                            <strong class="tit">Yogarasa Gandhi</strong>
                            <span class="txt">Xing Zheng</span>
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section_news">
            <h2 class="blind">NEWS&amp;EVENT</h2>
            <div class="wrap_news">
                <div class="inner">
                    <a class="link_news" href="#">
                        <span class="category">NEWS</span>
                        <strong class="tit">ROCH BOTIS COLLETION</strong>
                        <p class="txt">그들을 같으며, 보배를 그들은 그림자는 무엇이 것이다. 것이다.보라, 행복스럽고 간에 유소년에게서 이 천하를 보라. 소리다.이것은 방지하는 그들은
                            이상이 두기 스며들어 황금시대다. 그들은 꽃이 돋고, 생명을 바로 들어 꾸며 것은 영원히 끓는다.</p>
                    </a>
                    <a class="link_news" href="#">
                        <span class="category">EVENT</span>
                        <strong class="tit">ROCH BOTIS COLLETION</strong>
                        <p class="txt">그들을 같으며, 보배를 그들은 그림자는 무엇이 것이다. 것이다.보라, 행복스럽고 간에 유소년에게서 이 천하를 보라. 소리다.이것은 방지하는 그들은
                            이상이 두기 스며들어 황금시대다. 그들은 꽃이 돋고, 생명을 바로 들어 꾸며 것은 영원히 끓는다.</p>
                    </a>
                </div>
            </div>
            <ul class="inner list_news">
                <li>
                    <img alt="" height="160" src="https://dummyimage.com/356px160/ffdbff/7c7e94.png" width="356">
                    <a class="link_news" href="#">
                        <span class="category">PROMOTION PROMOTION PROMOTION PROMOTION PROMOTION </span>
                        <strong class="tit">ROGERS MISSER SPRING SALE SALE SALE SALE SALE SALE SALE</strong>
                    </a>
                </li>
                <li>
                    <img alt="" height="160" src="https://dummyimage.com/356px160/ffdbff/7c7e94.png" width="356">
                    <a class="link_news" href="#">
                        <span class="category">EVENT</span>
                        <strong class="tit">ROCH BOTIS CO. <br>SPRING PROMOTION</strong>
                    </a>
                </li>
                <li>
                    <img alt="" height="160" src="https://dummyimage.com/356px160/ffdbff/7c7e94.png" width="356">
                    <a class="link_news" href="#">
                        <span class="category">EVENT</span>
                        <strong class="tit">A TOZ SET DISCOUNT</strong>
                    </a>
                </li>
            </ul>
        </div>

        <div class="section_list history">
            <div class="inner">
                <h2 class="tit_comm noline">HISTORY <span class="small">최근본 상품 목록입니다.</span></h2>
                <div class="swiper-container">
                    <ul class="swiper-wrapper list_comm">
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like on" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://dummyimage.com/262x238/ffdbff/7c7e94.png"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                    </ul>
                </div>
                <button class="btn_slide btn_prev" type="button"><span class="blind">이전</span></button>
                <button class="btn_slide btn_next" type="button"><span class="blind">다음</span></button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="inner">
            <div class="sns_menu">
                <a class="facebook" href="##"><span class="blind">Facebook</span></a>
                <a class="instagram" href="##"><span class="blind">Instagram</span></a>
            </div>
            <div class="etc_menu">
                <a href="##">ABOUT US</a>
                <a href="##">FAQ</a>
                <a href="##">CONTACT</a>
            </div>
            <div class="copyright">
                <p class="txt">© 2019 메종테일러. All rights reserved.</p>
                <a href="#">이용약관</a>
                <a href="#">개인정보 처리방침</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script>
    $(document).ready(function () {

        var visualSwiperThumb = new Swiper('.gallery_thumbs', {
            slidesPerView: 4,
            direction: 'vertical',
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var visualSwiper = new Swiper('.gallery_main', {
            direction: 'vertical',
            loop: true,
            autoplay: {
                delay: 5000
            },
            thumbs: {
                swiper: visualSwiperThumb
            }
        });

        var livingRoom = $('.livingroom');
        if ($('.swiper-slide', livingRoom).length > 4) {
            $('button.btn_slide', livingRoom).show();
            var swiperTarget1 = new Swiper($('.swiper-container', livingRoom), {
                slidesPerView: 4,
                navigation: {
                    prevEl: $('.btn_prev', livingRoom),
                    nextEl: $('.btn_next', livingRoom),
                }
            });
        }

        var Kitchen = $('.kitchen');
        if ($('.swiper-slide', Kitchen).length > 4) {
            $('button.btn_slide', Kitchen).show();
            var swiperTarget2 = new Swiper($('.swiper-container', Kitchen), {
                slidesPerView: 4,
                navigation: {
                    prevEl: $('.btn_prev', Kitchen),
                    nextEl: $('.btn_next', Kitchen),
                }
            });
        }

        var bedRoom = $('.bedroom');
        if ($('.swiper-slide', bedRoom).length > 4) {
            $('button.btn_slide', bedRoom).show();
            var swiperTarget3 = new Swiper($('.swiper-container', bedRoom), {
                slidesPerView: 4,
                navigation: {
                    prevEl: $('.btn_prev', bedRoom),
                    nextEl: $('.btn_next', bedRoom),
                }
            });
        }

        var history = $('.history');
        if ($('.swiper-slide', history).length > 4) {
            $('button.btn_slide', history).show();
            var swiperTarget4 = new Swiper($('.swiper-container', history), {
                slidesPerView: 4,
                navigation: {
                    prevEl: $('.btn_prev', history),
                    nextEl: $('.btn_next', history),
                }
            });
        }

    });
</script>
</body>
</html>