<!DOCTYPE html>
<html lang="ko">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta content="ko-KR" http-equiv="Content-Language"/>
    <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
    <link href="../static/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/main_back.css" rel="stylesheet">

</head>
<body>
<div class="wrapper main" id="app" @click="clickMenu">

    <div class="header" style="background-color: black; color:white;">
        <div class="inner">
            <h1 class="logo" style="margin-top: 16px;"><a href="/"><span class="blind">MAISON TAILOR</span></a></h1>
            <div class="gnb">
                <ul class="service_menu">
                    <li><a class="link" href="##" style="color: white">셀프결제</a></li>
                    <li><a class="link" href="##" style="color: white">장바구니</a></li>
                    <li><a class="link" href="##" style="color: white">직원호출</a></li>
                </ul>
                <div class="my_menu">
                    <div class="wrap_search"><!-- 검색 버튼 클릭시 on 클래스 추가 -->
                        <button class="btn_search" type="button" ><span class="blind">검색</span></button>
                        <div class="layer_search">
                            <input class="inp_search" placeholder="찾는 제품이 있으신가요?" type="search">
                        </div>
                    </div>
                    <div class="wrap_layer" :class="{on : visibleMenu}"><!-- MY 버튼 클릭시 on 클래스 추가 -->
                        <button class="btn_mypage" type="button"><span class="blind">MY PAGE</span></button>
                        <div class="layer_menu">
                            <ul class="menu">
                                <li><a href="##">주문내역</a></li>
                                <li><a href="##"></a></li>
                            </ul>
                            <a class="logout" href="#">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 16px;">
            <div class="row">
                <div class="col-2">
                    <div class="name_container">
                        <div class="name">
                            허주영님
                        </div>
                        <div class="level">
                            LV.4 플레티넘
                        </div>
                    </div>
                </div>
                <div class="col-2 offset-4 text-center">
                    <img src="static/images/ic-point-border-white.png" width="48" height="48"/>
                    <div>
                        포인트
                    </div>
                    <div class="value">
                        4,000원
                    </div>
                </div>
                <div class="col-2 text-center">
                    <img src="static/images/coupon.png" width="48" height="48"/>
                    <div>
                        쿠폰
                    </div>
                    <div class="value">
                        7
                    </div>
                </div>

                <div class="col-2 text-center">
                    <img src="static/images/ic-heart-border-white-70-px.svg" width="48" height="48"/>
                    <div>
                        좋아요
                    </div>
                    <div class="value">
                        7장
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container2">
        <div class="container d-flex flex-row">
            <div class="rectangle">
                <!--                        <div class="store_intro_sub">-->
                <!--                            방문하신 매장은-->
                <!--                        </div>-->
                <div class="store_intro ">
                    <span class="store_intro_text ">올리브 주영 배곧점 </span>
                    <div style="display: flex; margin-top: 10px" >
                        <div style="margin : 14px 16px 0 0">
                            고객님의 관심 상품은?
                        </div>

                        <div class="tags">
                            <a class="link_tag" href="#"># IT기기</a>
                            <a class="link_tag" href="#"># 육류</a>
                            <a class="link_tag" href="#"># 마스크</a>
                        </div>

                    </div>
                </div>


            </div>
            <div class="rectangle_pay row align-items-center justify-content-center">

                <div class="pay_text">
                    셀프결제 하기
                </div>
            </div>
        </div>

        <div class="section_list livingroom">
            <div class="inner">
                <h2 class="tit_comm">이런 상품들은 어떠신가요?<span class="small"><span style="color:#0658fc">허주영</span>님을 위한 맞춤 추천 메뉴입니다</span></h2>
                <div class="swiper-container">
                    <ul class="swiper-wrapper list_comm">
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng QqkKjJpP QqkKjJpP QqkKjJpP QqkKjJpP</span>
                                    <strong class="tit">Yogarasa Gandhi QqkKjJpP QqkKjJpP QqkKjJpP QqkKjJpP</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like on" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>

                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <button style="width : 100%; height:322px; background-color: rgba(121,125,121,0.76); color:white; font-size: 24px; font-weight: bold">
                                    모두 보기
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn_slide btn_prev" type="button"><span class="blind">이전</span></button>
                <button class="btn_slide btn_next" type="button"><span class="blind">다음</span></button>
            </div>
        </div>

        <div class="section_list kitchen">
            <div class="inner">
                <h2 class="tit_comm">상품 결정에 고민이 있으신가요?<span class="small"><span style="color:#0658fc">올리브 주영</span>에서 가장 인기있는 상품을 모아봤어요</span></h2>
                <div class="swiper-container">
                    <ul class="swiper-wrapper list_comm">
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                        <span class="thumb"><img alt="" height="238"
                                                                 src="https://picsum.photos/238/262"
                                                                 width="262"></span>
                                <span class="cont">
                                            <span class="txt">Xing Zheng</span>
                                            <strong class="tit">Yogarasa Gandhi</strong>
                                            <span class="price">$ 3,000</span>
                                        </span>
                            </a>
                            <button class="btn_like on" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                        <span class="thumb"><img alt="" height="238"
                                                                 src="https://picsum.photos/238/262"
                                                                 width="262"></span>
                                <span class="cont">
                                            <span class="txt">Xing Zheng</span>
                                            <strong class="tit">Yogarasa Gandhi</strong>
                                            <span class="price">$ 3,000</span>
                                        </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                        <span class="thumb"><img alt="" height="238"
                                                                 src="https://picsum.photos/238/262"
                                                                 width="262"></span>
                                <span class="cont">
                                            <span class="txt">Xing Zheng</span>
                                            <strong class="tit">Yogarasa Gandhi</strong>
                                            <span class="price">$ 3,000</span>
                                        </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                        <span class="thumb"><img alt="" height="238"
                                                                 src="https://picsum.photos/238/262"
                                                                 width="262"></span>
                                <span class="cont">
                                            <span class="txt">Xing Zheng</span>
                                            <strong class="tit">Yogarasa Gandhi</strong>
                                            <span class="price">$ 3,000</span>
                                        </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                        <span class="thumb"><img alt="" height="238"
                                                                 src="https://picsum.photos/238/262"
                                                                 width="262"></span>
                                <span class="cont">
                                            <span class="txt">Xing Zheng</span>
                                            <strong class="tit">Yogarasa Gandhi</strong>
                                            <span class="price">$ 3,000</span>
                                        </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>

                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <button style="width : 100%; height:322px; background-color: rgba(121,125,121,0.76); color:white; font-size: 24px; font-weight: bold">
                                    모두 보기
                                </button>
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
                <button class="btn_slide btn_prev" type="button"><span class="blind">이전</span></button>
                <button class="btn_slide btn_next" type="button"><span class="blind">다음</span></button>
            </div>
        </div>

        <!--        <div class="section_list kitchen">-->
        <!--            <div class="inner">-->
        <!--                <h2 class="tit_comm">구매하실 상품을 고르셨나요?</h2>-->
        <!--                <div class="container text-center" style="margin-top: 16px;">-->
        <!--                    <div class="row">-->
        <!--                        <div class="col" style="font-weight: bold; font-size: 18px;">-->
        <!--                            셀프결제로 더 빠르고 간편하게 결제해보세요!-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="row">-->
        <!--                        <div class="col">-->
        <!--                            <button class="btn_comm primary"-->
        <!--                                    style="padding-left: 8px; padding-right:8px; font-size: 24px; font-weight: normal; margin-top: 24px;">-->
        <!--                                셀프 결제하기-->
        <!--                            </button>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="section_list kitchen">-->
        <!--            <div class="inner">-->
        <!--                <h2 class="tit_comm">상품을 다 고르셨나요?</h2>-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="section_list history">
            <div class="inner">
                <h2 class="tit_comm">최근 본 상품</h2>
                <div class="swiper-container">
                    <ul class="swiper-wrapper list_comm">
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like on" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>
                        <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <span class="thumb"><img alt="" height="238"
                                                         src="https://picsum.photos/238/262"
                                                         width="262"></span>
                                <span class="cont">
                                    <span class="txt">Xing Zheng</span>
                                    <strong class="tit">Yogarasa Gandhi</strong>
                                    <span class="price">$ 3,000</span>
                                </span>
                            </a>
                            <button class="btn_like" type="button"><span class="blind">좋아요</span></button>
                        </li>

                            <li class="swiper-slide">
                            <a class="link_box" href="#">
                                <button style="width : 100%; height:322px; background-color: rgba(121,125,121,0.76); color:white; font-size: 24px; font-weight: bold">
                                    모두 보기
                                </button>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="btn_slide btn_prev" type="button"><span class="blind">이전</span></button>
                <button class="btn_slide btn_next" type="button"><span class="blind">다음</span></button>
            </div>
        </div>
    </div>
    (% include 'partials/footer.html' %)
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            visibleMenu: false,
        },
        created() {

        },
        methods: {
            clickMenu(ref) {
                if (ref.target.className == 'btn_mypage') {
                    this.visibleMenu = !this.visibleMenu
                } else {
                    this.visibleMenu = false
                }
            }
        },
        mounted() {

            var livingRoom = $('.livingroom');
            if ($('.swiper-slide', livingRoom).length > 4) {
                $('button.btn_slide', livingRoom).show();
                var swiperTarget1 = new Swiper($('.swiper-container', livingRoom), {
                    slidesPerView: 4,
                    navigation: {
                        prevEl: $('.btn_prev', livingRoom),
                        nextEl: $('.btn_next', livingRoom),
                    }
                });
            }

            var Kitchen = $('.kitchen');
            if ($('.swiper-slide', Kitchen).length > 4) {
                $('button.btn_slide', Kitchen).show();
                var swiperTarget2 = new Swiper($('.swiper-container', Kitchen), {
                    slidesPerView: 4,
                    navigation: {
                        prevEl: $('.btn_prev', Kitchen),
                        nextEl: $('.btn_next', Kitchen),
                    }
                });
            }


            var history = $('.history');
            if ($('.swiper-slide', history).length > 4) {
                $('button.btn_slide', history).show();
                var swiperTarget4 = new Swiper($('.swiper-container', history), {
                    slidesPerView: 4,
                    navigation: {
                        prevEl: $('.btn_prev', history),
                        nextEl: $('.btn_next', history),
                    }
                });
            }
        },
    });


</script>
<style>

    .header {
        background-color: black;
        height: 250px;
        color: white;
        z-index: 1;
    }

    .name {
        font-size: 42px;
    }

    .value {
        font-size: 24px;
        font-weight: bold;
    }

    .rectangle {
        z-index: 1;
        position: relative;
        width: 1108px;
        left: 10px;
        top: -30px;
        height: 120px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
    }

    .rectangle_pay {
        cursor: pointer;
        z-index: 2;
        top: -30px;
        position: relative;
        width: 262px;
        height: 121px;
        border: 60px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #0658fc;
    }

    .store_intro_sub {
        margin-left: 20px;
        margin-top: 20px;
    }

    .store_intro {
        margin-top: 16px;
        margin-left: 20px;
    }

    .store_intro_text {
        color: #0658fc;
        font-size: 24px;
        font-weight: bold;
    }

    .pay_text {
        color: white;
        font-weight: bold;
        font-size: 24px;
    }

    .link_tag {
        display: inline-block;
        margin: 8px 4px 0 0;
        padding: 3px 13px 5px;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        vertical-align: top;
        background: #00a2e1
    }

    .link_more {
        color: #0658fc
    }


</style>
</body>
</html>