<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FaceVisitor</title>
    <link href="(( url_for('static', filename='css/login.css') ))" rel="stylesheet">
    <link href="(( url_for('static', filename='css/common.css') ))" rel="stylesheet">
    <link href="(( url_for('static', filename='css/register.css') ))" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
<div class="wrapper" id="app" @click="clickMenu">
    (% include 'partials/header.html' %)
    <div class="container2 login">
        <div class="main-content">
            <h3 class="page-title">고객 정보</h3>
            <p class="sub_text">로그인에 사용할 이메일과 비밀번호를 입력해주세요.</p>
            <!--            <p class="sub_text">얼굴인식 여부 : {{isFaceDetected}}</p>-->
            <form @submit.prevent="register" action="" method="post">
                <div class="text-center">
                    <img id="bg" src="(( url_for('video_feed') ))" style="width:300px; height:300px;">
                </div>
                <div class="input-wrapper">
                    <input class="input-field" name="name" placeholder="이메일" type="text" v-model="email" value="">
                </div>

                <div class="input-wrapper">
                    <input class="input-field" name="name" placeholder="이름" type="text" v-model="name" value="">
                </div>

                <div class="input-wrapper">
                    <input class="input-field" class="form-control" name="password"
                           placeholder="비밀번호"
                           type="password"
                           v-model="password">
                </div>

                <div class="input-wrapper">
                    <input class="input-field" placeholder="비밀번호 확인" style="ime-mode:inactive" type="password"
                           v-model="passwordRepeat">
                </div>

                <div class="input-wrapper phone">
                    <input class="input-field" maxlength="13" placeholder="휴대번호" type="text" v-model="phoneNumber">
                </div>

                <div class="input-wrapper">
                    <button class="btn_submit" type="submit">회원가입</button>
                </div>
                <div class="foot-note">
                    FaceVisitor의 <a href="/pages/terms-of-use">이용약관</a>과
                    <a href="/pages/privacy-policy">개인정보 취급방침</a>에 동의합니다.
                </div>
                <div class="new-customer">
                    <p>이미 회원이신가요?</p>
                    <div class="input-wrapper">
                        <a class="input-field" href="/login">로그인 하기</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    (% include 'partials/footer.html' %)
</div>


</body>
</html>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            email: '',
            password: '',
            passwordRepeat: '',
            name: '',
            phoneNumber: '',
            isFaceDetected: false,
            visibleMenu : false,
        },

        created() {
            // setInterval(async () => {
            //     var {data} = await axios.get('http://localhost:5000/is_face_detected');
            //     this.isFaceDetected = data.is_face_detected;
            // }, 9500);
        },
        methods: {
            async register() {
                // if(!this.isFaceDetected){
                //     alert("얼굴을 인식해주세요");
                //     return;
                // }

                if (!this.email) {
                    alert("이메일을 확인해주세요");
                    return;
                }

                if (!this.password) {
                    alert("이메일을 확인해주세요");
                    return
                }

                if (this.password != this.passwordRepeat) {
                    alert("패스워드가 일치하지않습니다.");
                    return;
                }

                if (!this.name) {
                    alert("이름을 확인해 주세요.");
                    return;
                }


                var user = {
                    email: this.email,
                    password: this.password,
                    passwordRepeat: this.passwordRepeat,
                    name: this.name,
                    phone: this.phoneNumber,
                };


                try {
                    Swal.fire("얼굴 등록 중입니다. ");
                    Swal.showLoading();
                    var faceJoinResponse = await axios.post('http://localhost:5000/auth/join', {user});
                    Swal.fire({
                        text: '가입되었습니다!!',
                        icon: 'success',
                    });

                } catch (err) {
                    if (err.response.data.length > 50) {
                        Swal.fire({
                            text: "가입에 실패했습니다. 다시 시도해주세요.",
                            icon: 'error',
                        });
                    } else {
                        Swal.fire({
                            text: err.response.data,
                            icon: 'error',
                        });
                    }

                }


            },
            clickMenu(ref) {
                console.log(ref);
                if (ref.target.className == 'btn_mypage') {
                    this.visibleMenu = !this.visibleMenu
                } else {
                    this.visibleMenu = false
                }
            }
        }
    });
</script>
